{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or">{% trans 'or' %}</div>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% else %}

<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">{% trans "Sign In" %}</h1>
  <p>{% blocktrans %}Si aún no ha creado una cuenta,
    <a href="{{ signup_url }}">Registrese</a> primero.
    {% endblocktrans %}</p>
</div>
{% endif %}
<form class="login form-group user" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}  
  <div class="form-group">
    {{ form.as_p }}    
  </div>  
  <button class="btn btn-primary btn-user btn-block" type="submit">{% trans "Sign In" %}</button>
  <hr>
  <div class="text-center">
    <a class="text-center button secondaryAction"
      href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
</form>
{% endblock %}