{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change form-group user">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-user btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
