{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">{% trans "Sign Up" %}</h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
<form class="user" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <input class="form-control form-control-user" type="hidden" name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}" />
    </div>
  </div>
  {% endif %}
  <button class="btn btn-primary btn-user btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}