{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Crear Perfil</h1>
  </div>

  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <h5>Ubique la Dirección en el Mapa</h5>
        <div id='mapa' style='width: 100%; height: 300px;'></div>
      </div>

      <button class="btn btn-success btn-block" type="submit" >Crear</button>
    </form>
  </div>

</div>


{% endblock %}

{% block js-extra %}

<script>




  $(function () {
    $("#id_ciudad").change(function () {
      var depaid = $("#id_departamento").val();
      var depatext = $("#id_departamento").text();
      var munitext = $(this).find('option:selected').text();

      var muni = {{ municipios| safe}};

  for (m in muni) {
    if (muni[m]['fields']['codigo_departamento'] == depaid) {
      if (muni[m]['fields']['nombre_municipio'] == munitext) {        
        var lon = muni[m]['fields']['lon']        
        var lat = muni[m]['fields']['lat']
        $("#id_lon").val(muni[m]['fields']['lon']);
        $("#id_lat").val(muni[m]['fields']['lat']);

      }
    }

  }
  var mi_lon = document.getElementById('id_lon').value;
  var mi_lat = document.getElementById('id_lat').value;
  mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVpOTRyZiIsImEiOiJja2Eyc3ZjZnkwMnJuM2xwb3dwMHV3aTJqIn0.ZXtAWhh4Ff7J0Qk0YEe5nw';
  var map = new mapboxgl.Map({
    container: 'mapa',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [mi_lon, mi_lat],
    zoom: 14,

  });

  var marker = new mapboxgl.Marker({
    draggable: true
  })
    .setLngLat([mi_lon, mi_lat])
    .addTo(map);

  function onDragEnd() {
    var lngLat = marker.getLngLat();

    document.getElementById('id_lon').value = lngLat.lng;
    document.getElementById('id_lat').value = lngLat.lat;
  }

  marker.on('dragend', onDragEnd);



   });
 });

</script>
{% endblock %}



{% block js %}

<script>
  $(document).ready(function() {
    $('.select2dp').select2();
});

$(document).ready(function() {
    $('.select2mp').select2();
});
</script>

{% endblock %}