{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}


{% block content %}
<div class="container">

    <div class="row">
        {% if user.is_authenticated %}
        {% if perfil.ingresos %}
        <div class="col-lg-12">
            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Panel del Usuario</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                                             
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'profiles:editar_perfil' pk=id %}" class="btn btn-primary btn-block"><i
                                    class="fas fa-sign-out-alt"></i>
                                Editar Perfil</a>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'account_change_password' %}" class="btn btn-primary btn-block"><i
                                    class="fa fa-key"></i> Cambiar Contraseña y/o Correo</a>
                        </div>                         
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'cal:calendar' pk=user.id flag='0' %}" class="btn btn-primary btn-block"><i
                                    class="fa fa-calendar"></i> Ver mi Calendario!</a>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'negocios:pedidos' pk=user.pk %}" class="btn btn-primary btn-block"><i
                                    class="fas fa-fw fa-eye"></i>Tus Pedidos</a>
                        </div>                                    

                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-12">
            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Panel del Usuario</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                                             
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'profiles:editar_perfil' pk=id %}" class="btn btn-primary btn-block"><i
                                    class="fas fa-sign-out-alt"></i>
                                Editar Perfil</a>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'account_change_password' %}" class="btn btn-primary btn-block"><i
                                    class="fa fa-key"></i> Cambiar Contraseña y/o Correo</a>
                        </div>                        
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'cal:calendar' pk=user.id flag='0' %}" class="btn btn-primary btn-block"><i
                                    class="fa fa-calendar"></i> Ver mi Calendario!</a>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'negocios:pedidos' pk=user.pk %}" class="btn btn-primary btn-block"><i
                                    class="fas fa-fw fa-eye"></i>Tus Pedidos</a>
                        </div>                                   
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">Tus negocios</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-4">
                        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal">
                            Oferta tu Productos y Servicios
                          </button>  
                        </div>                    
                    </div>                   
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}


        {% if user.is_authenticated %}
        {% if perfil.ingresos %}
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-info">Panel de Tiendas</h6>
                </div>
                <div class="card-body">
                    <div class="row">                        
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'negocios:list_negocios' %}" class="btn btn-info btn-block"><i
                                    class="fa fa-shopping-bag"></i> Tus Negocios Aquí!</a>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'negocios:ordenes' pk=user.pk %}" class="btn btn-info btn-block"><i
                                    class="fas fa-fw fa-eye"></i>Tus Ordenes</a>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'negocios:cali_list' pk=user.pk  %}" class="btn btn-info btn-block"><i
                                    class="fa fa-comments"></i> Calificación y Comentarios</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
        {% if perfil.ingresos %}
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">Panel de Servicios</h6>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'cal:tienda-list' %}" class="btn btn-success btn-block"><i
                                    class="fa fa-handshake-o"></i>
                                Tus Servicios Aquí!</a>
                        </div>                                              
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'cal:calendar' pk=user.id flag='1' %}" class="btn btn-success btn-block"><i
                                    class="fa fa-calendar"></i> Ver Calendario de Reservas</a>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'cal:tienda-cali-list' pk_tienda=user.pk %}" class="btn btn-success btn-block"><i
                                    class="fa fa-comments"></i> Calificación y Comentarios</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'profiles:changeUser' %}" method="POST">  
            {% csrf_token %}  
            <center>
              <input id='option' name="option" value="1" hidden="False">
            </center>          
          <button type="submit" class="btn btn-success btn-block"><span
              class="glyphicon glyphicon-off"></span>Generar!</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}


<script>
    $('#exampleModal').modal('show');
</script>
