{% extends 'core/base.html' %}
{% load static %}
{% block title %}perfil {{perfil.nombres}}{% endblock %}

{% block content %}

{% if perfil  %}

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombres</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{perfil.nombres}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Apellidos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{perfil.apellidos}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Situacion laboral</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{perfil.situ_laboral}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Direccion</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{perfil.direccion}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Ubicacion en el mapa</h6>
                </div>
                <div class="card-body">
                    <div id='mapa' style='width: 100%; height: 300px;'></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nivel vulnerabilidad</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">vulnerabilidad<span class="float-right">{{porcentaje1}}%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="{{color1}}" role="progressbar" style="width: {{porcentaje1}}%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nivel de accesibilidad</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">accesibilidad<span class="float-right">{{porcentaje2}}%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="{{color2}}" role="progressbar" style="width: {{porcentaje2}}%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 mb-4">

        </div>
        <div class="col-lg-3.5 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Codigo QR</h6>
                    <input type="text" id="qr-data" value={{url}} hidden=True>
                </div>                                
                <div class="card-body align-content-center" >
                    <div class="text-center" id="qrcode"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% else%}

<h1>NO existe perfil</h1>

{% endif %}


{% endblock %}

{% block js-extra %}
<script src="{% static 'core/js/qrcode.min.js' %}"></script>
<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "{{url}}");
</script>

<script>    
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVpOTRyZiIsImEiOiJja2Eyc3ZjZnkwMnJuM2xwb3dwMHV3aTJqIn0.ZXtAWhh4Ff7J0Qk0YEe5nw';
    var map = new mapboxgl.Map({
      container: 'mapa',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [{{perfil.lon|safe}}, {{perfil.lat|safe}}],
      zoom: 16,
  
    });
  
    var marker = new mapboxgl.Marker().setLngLat([{{perfil.lon|safe}}, {{perfil.lat|safe}}]).addTo(map);
  </script>

{% endblock %}