{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Agenda
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <h2>Agenda para {{dayname}}, {{year}}/{{month}}/{{day}}</h2>
        </br>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <div class="alert alert-success" role="alert">
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          </div>

          {% endfor %}
        </ul>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <h3>Horario 1</h3>
          <ul class="list-group">
            {% for key, value in time1.items %}
            {% if reservation == value %}
            <input name="schedule" type="submit" value="{{key}}"
              class="text-center border border-primary list-group-item list-group-item-action bg-primary"></input>
            {% elif value in schedule_time1_full %}
            <input name="" type="text" value="{{key}}"
              class="text-center border border-primary list-group-item list-group-item-action bg-danger"></input>
            {% else %}
            <input name="schedule" type="submit" value="{{key}}"
              class="text-center border border-primary list-group-item list-group-item-action"></input>
            {% endif %}
            {% endfor %}
          </ul>
          <h3>Horario 2</h3>
          <ul class="list-group">
            {% for key, value in time2.items %}
            {% if reservation == value %}
            <input name="schedule" type="submit" value="{{key}}"
              class="text-center border border-primary list-group-item list-group-item-action bg-primary"></input>
            {% elif value in schedule_time2_full %}
            <input name="" type="text" value="{{key}}"
              class="text-center border border-primary list-group-item list-group-item-action bg-danger"></input>
            {% else %}
            <input name="schedule" type="submit" value="{{key}}"
              class="text-center border border-primary list-group-item list-group-item-action"></input>
            {% endif %}
            {% endfor %}
          </ul>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}