{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Calendar
{% endblock %}

{% block content %}

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="">
            {% if flag == '1' %}
            {% if user.perfil.ingresos %}
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
              </div>
              
                {% endfor %}
            </ul>
            {% endif %}
            <div class="">
              <div class="text-left">
                <a class="btn btn-info left" href="{% url 'cal:calendar' pk=pk flag=1 %}?{{ prev_month }}"> Mes
                  Anterior{{andrei}}</a>
              </div>
              <div class="text-right">
                <a class="btn btn-info" href="{% url 'cal:calendar' pk=pk flag=1 %}?{{ next_month }}"> Mes Próximo
                </a>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-success" data-toggle="modal"
                data-target="#reservacionModal">Reservale
                a tus Clientes</button>
            </div>
          </div>
          {% endif %}
          {% else %}
          <div class="">
            <div class="text-left">
              <a class="btn btn-info left" href="{% url 'cal:calendar' pk=pk%}?{{ prev_month }}"> Mes
                Anterior{{andrei}}</a>
            </div>
            <div class="text-right">
              <a class="btn btn-info" href="{% url 'cal:calendar' pk=pk%}?{{ next_month }}"> Mes Próximo
              </a>
            </div>
          </div>

          {% endif %}

          <br>
          <div class="card">
            {{ calendar }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Modal  -->

<div class="modal fade" id="reservacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservación para Clientes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="user" action="{% url 'cal:add-reservacion-client' %}" method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-md-6">
              <label for="username" class="col-form-label">Numero de Cedula del Cliente</label>
              <input type="text" class="form-control form-control-user" id="username" name='username' required>
            </div>
            <div class="col-md-6">
              <label for="email-cliente" class="col-form-label">Correo del Cliente:</label>
              <input type="email" class="form-control form-control-user" id="email-cliente" name='email-cliente'
                required>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label for="servicio">Seleccione el Servicio</label>
            <select class="form-control" id="servicio" name="servicio">
              {% for servicio in servicios %}
              <option value="{{servicio.pk}}">{{servicio.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          <hr>
          <div class="form-row">
            <div class="col-md-12">
              <label for="date" class="col-form-label">Fecha :</label>
              <input type="date" class="form-control" data-date-format="dd/mm/yyyy" name="date" required>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-user btn-block">Crear Reservación</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-secondary btn-user btn-block" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
<script>
  $('#reservacionModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal  
    var modal = $(this)
  })
</script>
{% endblock %}