{% extends 'cal/base.html' %}

{% load company_tags %}

{% block header %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Empresa</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item active"><a href="#">Empresa</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <h3 class="mb-0">Empresa {{company.name}}</h3>
        <h2>{{company.description}}</h2>
        <input class="btn btn-lg btn-primary" type="button"
          onclick="location.href='{% url 'services' pk_company=pk_company %}';" value="Crear Servicio" />
        <input class="btn btn-lg btn-primary" type="button"
          onclick="location.href='{% url 'queues' pk_company=pk_company %}';" value="Crear Cola" />

        <div class="card bg-red">

          <div class="card-body">
            <div id="errors">

            </div>
            <form id="form" method="POST">
              {% csrf_token %}
              {% for week_day in week_days %}
              <h1 class="card-title" style="color: white;">{{week_day}}</h1>
              <div class="table-responsive">
                <table class="table table-bordered" style="color: white;">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Servicio</th>
                      <th scope="col">Horario 1</th>
                      <th scope="col">Horario 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for service in services %}
                    <tr>

                      <th scope="row">
                        <div class="checkbox">
                          <label>
                            {% with service_id=service.id|stringformat:"i" %}
                            {% with check2=service_id|add:'-' %}
                            {% with check=check2|add:week_day%}
                            {% if check in schedule_list%}
                            {% if schedule_list|lookup:check%}
                            <input type="checkbox" name="{{check}}" value="{{check}}" checked>{{service.name}}
                            {% else %}
                            <input type="checkbox" name="{{check}}" value="{{check}}">{{service.name}}
                            {% endif %}
                          </label>
                        </div>
                      </th>
                      <td>
                        {% with look=check|add:'-from_1'%}
                        {%if schedule_time|lookup:look %}
                        <label for="{{look}}">Desde:</label>
                        <input type="text" class="time start" id="{{look}}" name="{{look}}"
                          value="{{schedule_time|lookup:look}}" />

                        {% else %}
                        <label for="{{look}}">Desde:</label>
                        <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                        {% endif %}
                        {% endwith %}

                        {% with look=check|add:'-to_1'%}
                        {%if schedule_time|lookup:look %}
                        <label for="{{look}}">Hasta:</label>
                        <input type="text" class="time end" id="{{look}}" name="{{look}}"
                          value="{{schedule_time|lookup:look}}" />
                        {% else %}
                        <label for="{{look}}">Hasta:</label>
                        <input type="text" class="time end" id="{{look}}" name="{{look}}" />
                        {% endif %}
                        {% endwith %}
                      </td>
                      <td>
                        {% with look=check|add:'-from_2'%}
                        {%if schedule_time|lookup:look %}
                        <label for="{{look}}">Desde:</label>
                        <input type="text" class="time start" id="{{look}}" name="{{look}}"
                          value="{{schedule_time|lookup:look}}" />
                        {% else %}
                        <label for="{{look}}">Desde:</label>
                        <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                        {% endif %}
                        {% endwith %}

                        {% with look=check|add:'-to_2'%}
                        {%if schedule_time|lookup:look %}
                        <label for="{{look}}">Desde:</label>
                        <input type="text" class="time start" id="{{look}}" name="{{look}}"
                          value="{{schedule_time|lookup:look}}" />
                        {% else %}
                        <label for="{{look}}">Desde:</label>
                        <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                        {% endif %}
                        {% endwith %}
                      </td>
                      {% else %}
                      <input type="checkbox" name="{{check}}" value="{{check}}">{{service.name}}
                      </label>
              </div>
              </th>
              <td>
                {% with look=check|add:'-from_1'%}
                <label for="{{look}}">Desde:</label>
                <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                {% endwith %}

                {% with look=check|add:'-to_1'%}
                <label for="{{look}}">Hasta:</label>
                <input type="text" class="time end" id="{{look}}" name="{{look}}" />
                {% endwith %}
              </td>
              <td>
                {% with look=check|add:'-from_2'%}
                <label for="{{look}}">Desde:</label>
                <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                {% endwith %}

                {% with look=check|add:'-to_2'%}
                <label for="{{look}}">Hasta:</label>
                <input type="text" class="time end" id="{{look}}" name="{{look}}" />
                {% endwith %}
              </td>
              {% endif %}
              </tr>
              {% endwith %}
              {% endwith %}
              {% endwith %}
              {% endfor %}
              </tbody>
              </table>
          </div>

          <input type="submit" onclick="validate('{{week_day}}')" class="btn btn-primary btn-lg btn-block"
            name="actualizar-{{week_day}}" value="Actualizar" />
          {% endfor %}
          </form>




        </div>

      </div>
    </div>
  </div>


</div>
</div>
</div>

</div>

{% endblock%}

{% block js %}
<script>

  const convertTime12to24 = (time12h) => {
    const [time, modifier] = time12h.split(' ');

    let [hours, minutes] = time.split(':');

    if (hours === '12') {
      hours = '00';
    }

    if (modifier === 'PM') {
      hours = parseInt(hours, 10) + 12;
    }

    return `${hours}:${minutes}`;
  }

  function validate(week_day) {
    $("#form").submit(function (event) {
      {% for service in services %}
      var dt = new Date();

      var startDate = convertTime12to24($('#{{service.id}}' + '-' + week_day + '-from_1').val());
      var stt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate);
      stt = stt.getTime();

      var endDate = convertTime12to24($('#{{service.id}}' + '-' + week_day + '-to_1').val());
      var endt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate);
      endt = endt.getTime();


      if (stt > endt) {
        $('#errors').html("<p style='color:white;'>ADVERTENCIA!!! </p>" +
          "<p style='color:white;'>El horario " + startDate + " es menor a " + endDate + " del día " + week_day + "</p>");
        event.preventDefault();
      }
      {% endfor %}


    });
  }

  $('.time').ptTimeSelect();
</script>
{% endblock %}