{% extends 'core/base.html' %}
{% load static %}
{% block title %}Confirmar reservacion{% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h1><strong>{{reservacion.servicio.nombre}}</strong></h1>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'cal:confirmar_reservacion' pk %}">
                {% csrf_token %}
                <h5 class="card-title">Cliente: {{reservacion.user.perfil.nombres}}</h5>
                <p class="card-text">Fecha: {{reservacion.day}}</p>
                <p class="card-text">Horario: {{reservacion.from_t}} - {{reservacion.to_t}}</p>
                <button class="btn btn-primary" type="submit" value="0" id="estado" name="estado">Rechazar</button>
                <button class="btn btn-success" type="submit" value="1" id="estado" name="estado">Aceptar</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <img class="icon" src="{% static 'core/img/sigelo.png' %}">
        </div> 
    </div>
</div>
{% endblock %}