<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de reserva</title>
</head>
<body>
    <h2>Su solicitud de agendamiento ha sido aprobada para el servicio <strong>{{servicio}}</strong></h2>
    <h2>Datos de contacto: </h2>
    <p>Telefono: {{telefono}}</p>
    <p>Fecha: {{day}}</p>
    <p>Horario: {{inicio}} - {{fin}}</p>
</body>
</html>