<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de reserva</title>
</head>
<body>
    <h2>Su solicitud de agendamiento ha sido RECHAZADA para el servicio <strong>{{servicio}}</strong></h2>
    <h2>Pasos a seguir!</h2>
    <a href="{{mensaje}}">Enviale un mensaje</a>
    <h2>Recuerda que puedes hacer mas reservas</h2>
    <a href="https://{{host}}{% url 'core:home' %}">reserva Aquí!!</a>
</body>
</html>