<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar reservacion</title>
</head>
<body>
    <h2>Se registro un agendamiento en tu servicio {{servicio}}</h2>
    <p>Por favor ingrese a este link para poder confirmar la solicitud</p>    
    
    <a href="https://{{host}}{% url 'cal:confirmar_reservacion' reservation %}">Click aqui para confirmar</a>
</body>
</html>