{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrar servicio{% endblock %}

{% block content %}

<div class="container">
  <div class="form-group">
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{ form.as_p }}      
      <button class="btn btn-success btn-block" type="submit">Crear</button>
    </form>
  </div>

</div>

{% endblock %}
