{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrar servicio{% endblock %}

{% block content %}

<div class="container">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}                                         
            <button class="btn btn-success btn-block" type="submit">Crear</button>
        </form>
    </div>
     
</div>

{% endblock %}
{% block js-extra %}
<script>
    $('.timepicker').timepicker({
    timeFormat: 'h:mm',
    interval: 60,
    defaultTime: '8',
    dynamic: false,
    dropdown: true,
    scrollbar: true
});

</script>
{% endblock %}
