{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado servicios{% endblock %}
{% block content %}



<main role="main">
  <div class="container">
    <div class="row">

      {% for week_day in week_days %}
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">{{week_day}}</h6>
        </div>
        <div class="card-body">
          {% for service in servicios%}
          <form id="form" method="POST">
            <table class="table table-bordered" style="color: rgb(226, 29, 29);">
              <th scope="row">
                <div class="checkbox">
                  <label>
                    {% with service_id=service.id|stringformat:"i" %}
                    {% with check2=service_id|add:'-' %}
                    {% with check=check2|add:week_day%}
                    {% if check in schedule_list%}
                   
                    <input type="checkbox" name="{{check}}" value="{{check}}" checked>{{service.nombre}}
                    {% else %}
                    <input type="checkbox" name="{{check}}" value="{{check}}">{{service.nombre}}
                    {% endif %}
                   
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                  </label>
                </div>
              </th>
            </table>
          </form>
          {% endfor %}
          <div class="row">
            <!-- Border Left Utilities -->
            <div class="col-lg-6">
              <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                  .border-left-primary
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                  .border-left-primary
                </div>
              </div>
            </div>
          </div>

          The styling for this basic card example is created by using default Bootstrap utility classes. By using
          utility classes, the style of the card component can be easily modified with no need for any custom CSS!
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        {% for servicio in servicios%}


        <div class="card text-center">
          <div class="card-header bg-success text-white">
            {{servicio.id}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{servicio.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{servicio.created}}</h6>
            <p class="card-text">{{ servicio.direccion }}</p>
            <p class="card-text">{{ servicio.telefono }}</p>
            <p class="card-text">{{ servicio.modalidad }}</p>
            <a href="{% url 'cal:nueva_reservacion' servicio.id %}" class="btn btn-dark">Reservar</a>
            <a href="{% url 'cal:crear_servicio' %}" class="btn btn-dark">Crear Servicio</a>
            <a href="{% url 'cal:editar_servicio' servicio.id %}" class="btn btn-dark">Editar</a>
          </div>
        </div><br>

        {% endfor %}
      </div>
    </div>
    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</main>
{% endblock %}

{% block js %}
<script>

  const convertTime12to24 = (time12h) => {
    const [time, modifier] = time12h.split(' ');

    let [hours, minutes] = time.split(':');

    if (hours === '12') {
      hours = '00';
    }

    if (modifier === 'PM') {
      hours = parseInt(hours, 10) + 12;
    }

    return `${hours}:${minutes}`;
  }

  function validate(week_day) {
    $("#form").submit(function (event) {
      {% for service in services %}
      var dt = new Date();

      var startDate = convertTime12to24($('#{{servicios.id}}' + '-' + week_day + '-from_1').val());
      var stt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate);
      stt = stt.getTime();

      var endDate = convertTime12to24($('#{{servicios.id}}' + '-' + week_day + '-to_1').val());
      var endt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate);
      endt = endt.getTime();


      if (stt > endt) {
        $('#errors').html("<p style=''>ADVERTENCIA!!! </p>" +
          "<p style=''>El horario " + startDate + " es menor a " + endDate + " del día " + week_day + "</p>");
        event.preventDefault();
      }
      {% endfor %}


    });
  }

  $('.time').ptTimeSelect();
</script>
{% endblock %}