{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Agenda
{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Reservaciones</h1>
    </div>
    <div class="row">
      {% for reservacion in reservations %}
      <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4 text-center">
          <div class="card-header bg-info text-white">
            Reservación del Servicio: {{reservacion.servicio.nombre}}
          </div>
          <div class="card-body">
            <div class="text-center">
              <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                src="{% static 'core/img/sigelo.png' %}" alt="">
            </div>
            <h5 class="card-title">Usuario:{{reservacion.user.username}}</h5>
            <h5 class="card-title">Nombre:{{reservacion.user.perfil.nombres}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{negocio.created}}</h6>
            <p class="card-text">Hora de inicio: {{reservacion.from_t}}</p>
            <p class="card-text">Hora final: {{reservacion.to_t}}</p>
            {% if reservacion.estado == True %}
            <span class="badge badge-success">Aceptada</span>
            {% if reservacion.confirmacion_llegada %}
            <span class="badge badge-success">LLego</span>
            {% else %}
            <span class="badge badge-danger">No llego</span>
            <button type="button" class="btn btn-secondary btn-icon-split btn-block" data-toggle="modal"
              data-target="#QRModal" data-whatever={{reservacion.pk}}>Confirmación de Llegada</button>
            {% endif %}
            {% endif %}
            {% if reservacion.estado == False and reservacion.pendiente == True %}
            <span class="badge badge-warning">pendiente</span>
            {% endif %}
            {% if reservacion.estado == False and reservacion.pendiente == False %}
            <span class="badge badge-danger">Rechazada</span>
            {% endif %}

            <a target="_blank"
              href="https://api.whatsapp.com/send?phone=57{{telefono}}&text=Hola%21%2c%20es%20para%20confirmar%20la%20cita%20agendada%20por%20sigelo.org&source=&data=&app_absent="
              class="btn btn-primary btn-icon-split btn-block">
              <i class="fab fa-whatsapp fa-3x"></i>
            </a>
            <button type="button" class="btn btn-secondary btn-icon-split btn-block" data-toggle="modal"
              data-target="#exampleModal" data-whatever={{reservacion.pk}}>Opciones de Reservación</button>

            <!--<button type="button" class="btn btn-secondary btn-icon-split btn-block" data-toggle="modal" data-target="#QRModal">Scanear QR</button>-->
          </div>
        </div><br>
      </div>
      {% endfor %}
    </div>
  </div>

  </div>


  <!-- Menú de paginación -->
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
      {% endif %}
      {% for i in paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar reservación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'cal:confirmarmodal' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="recipient-name" id="recipient-name" hidden>
          </div>
          <button type="submit" class="btn btn-success btn-block" value="1" name="estado">Aceptar</button>
          <button type="submit" class="btn btn-primary btn-block" value="0" name="estado">Rechazar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary btn-block">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="QRModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmacion de llegada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'cal:confirmacion-llegada' %}" method="GET">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="recipient-name" id="recipient-name" hidden>
          </div>
          <button type="submit" class="btn btn-success btn-block" value="1" name="estado">LLego</button>
          <button type="submit" class="btn btn-primary btn-block" value="0" name="estado">No LLego</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary btn-block">Cerrar</button>
      </div>
    </div>
  </div>
</div>





{% endblock %}


{% block js %}
<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-body input').val(recipient)//Lo envia al input
  })
</script>

<script>
  $('#QRModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal  
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-body input').val(recipient)//Lo envia al input
  })
</script>


{% endblock %}