{% extends 'core/base.html' %}
{% load static %}
{% load cal_tags %}
{% block title %}Listado servicios{% endblock %}
{% block content %}

<style type="text/css"> 
  .transformacion1 { text-transform: capitalize;}   
</style> 

<div class="row">
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="card bg-red">
          <div class="card-body">
            <div id="errors">
            </div>
            <form id="form1" method="POST">
              {% csrf_token %}
              {% for week_day in week_days %}
              <h1 class="transformacion1 card-title text-center" style="color: rgb(175, 24, 24);">{{week_day}}</h1>
              <div class="table-responsive">
                <table class="table table-bordered text-center" style="color:rgb(175, 24, 24);">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Servicio</th>
                      <th scope="col">Horario 1</th>
                      <th scope="col">Horario 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for service in servicios %}
                    <tr>
                      <th scope="row">
                        <div class="checkbox">
                          <label>
                            {% with service_id=service.id|stringformat:"i" %}
                            {% with check2=service_id|add:'-' %}
                            {% with check=check2|add:week_day%}
                            {% if check in schedule_list%}
                            {% if schedule_list|lookup:check%}
                            <input type="checkbox" name="{{check}}" value="{{check}}" checked>{{service.nombre}}
                            {% else %}
                            <input type="checkbox" name="{{check}}" value="{{check}}">{{service.nombre}}
                            {% endif %}
                          </label>
                        </div>
                      </th>
                      <td>
                        <div class="form-group row">
                          {% with look=check|add:'-from_1'%}
                          {%if schedule_time|lookup:look %}
                          <div class="col-sm-6">
                            <label for="{{look}}">Desde:</label>
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />
                          </div>
                          {% else %}
                          <div class="col-sm-6">
                            <label for="{{look}}">Desde:</label>
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" />
                          </div>
                          {% endif %}
                          {% endwith %}
                          {% with look=check|add:'-to_1'%}
                          {%if schedule_time|lookup:look %}
                          <div class="col-sm-6">
                            <label for="{{look}}">Hasta:</label>
                            <input type="text" class="form-control form-control-user time end" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />
                          </div>
                          {% else %}
                          <div class="col-sm-6">
                            <label for="{{look}}">Hasta:</label>
                            <input type="text" class="form-control form-control-user time end" id="{{look}}"
                              name="{{look}}" />
                          </div>
                          {% endif %}
                          {% endwith %}
                        </div>
                      </td>
                      <td>
                        {% with look=check|add:'-from_2'%}
                        {%if schedule_time|lookup:look %}
                        <div class="form-group row">
                          <div class="col-sm-6">
                            <label for="{{look}}">Desde:</label>
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />
                          </div>
                          {% else %}
                          <div class="col-sm-6">
                            <label for="{{look}}">Desde:</label>
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" />
                          </div>
                          {% endif %}
                          {% endwith %}
                          {% with look=check|add:'-to_2'%}
                          {%if schedule_time|lookup:look %}
                          <div class="col-sm-6">
                            <label for="{{look}}">Hasta:</label>
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />
                          </div>
                          {% else %}
                          <div class="col-sm-6">
                            <label for="{{look}}">Hasta:</label>
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" />
                          </div>
                          {% endif %}
                          {% endwith %}
                        </div>
                      </td>
                      {% else %}
                      <input type="checkbox" name="{{check}}" value="{{check}}">{{service.nombre}}
                      </label>
              </div>
              </th>
              <td>
                <div class="form-group row">
                  {% with look=check|add:'-from_1'%}
                  <div class="col-sm-6">
                    <label for="{{look}}">Desde:</label>
                    <input type="text" class="form-control form-control-user time start" id="{{look}}"
                      name="{{look}}" />
                  </div>
                  {% endwith %}
                  {% with look=check|add:'-to_1'%}
                  <div class="col-sm-6">
                    <label for="{{look}}">Hasta:</label>
                    <input type="text" class="form-control form-control-user time end" id="{{look}}" name="{{look}}" />
                  </div>
                  {% endwith %}
                </div>
              </td>
              <td>
                <div class="form-group row">
                  {% with look=check|add:'-from_2'%}
                  <div class="col-sm-6">
                    <label for="{{look}}">Desde:</label>
                    <input type="text" class="form-control form-control-user time start" id="{{look}}"
                      name="{{look}}" />
                  </div>
                  {% endwith %}
                  {% with look=check|add:'-to_2'%}
                  <div class="col-sm-6">
                    <label for="{{look}}">Hasta:</label>
                    <input type="text" class="form-control form-control-user time end" id="{{look}}" name="{{look}}" />
                    {% endwith %}
                  </div>
                </div>
              </td>
              {% endif %}
              </tr>
              {% endwith %}
              {% endwith %}
              {% endwith %}
              {% endfor %}
              </tbody>
              </table>
          </div>

          <input type="submit" onclick="validate('{{week_day}}')" class="btn btn-primary btn-lg btn-block"
            name="actualizar-{{week_day}}" value="Actualizar" />
          <hr>
          {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block js %}
<script src="{%static 'core/js/timeSelect/jquery.ptTimeSelect.js'%}"></script>
<script>

  const convertTime12to24 = (time12h) => {
    const [time, modifier] = time12h.split(' ');

    let [hours, minutes] = time.split(':');

    if (hours === '12') {
      hours = '00';
    }

    if (modifier === 'PM') {
      hours = parseInt(hours, 10) + 12;
    }

    return `${hours}:${minutes}`;
  }

  function validate(week_day) {
    $("#form1").submit(function (event) {
      console.log('dia', week_day);
      debugger;

      {% for service in servicios %}
      var dt = new Date();
      var startDate = convertTime12to24($('#{{service.id|safe}}' + '-' + week_day + '-from_1').val());
      var stt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate);
      stt = stt.getTime();

      var endDate = convertTime12to24($('#{{service.id|safe}}' + '-' + week_day + '-to_1').val());
      var endt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate);
      endt = endt.getTime();

      debugger;

      var endDate1 = convertTime12to24($('#{{service.id|safe}}' + '-' + week_day + '-to_1').val());
      var endD1 = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate1);
      endD1 = endD1.getTime();
      var startDate2 = convertTime12to24($('#{{service.id|safe}}' + '-' + week_day + '-from_2').val());
      var sttS2 = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate2);
      sttS2 = sttS2.getTime();
      debugger;
      if (stt > endt) {
        alert("El horario " + startDate + " es menor a " + endDate + " del día " + week_day);
        event.preventDefault();
        console.log('Aqui está el error')
      }
      if (endD1 > sttS2) {
        alert("El horario " + startDate2 + " es menor a " + endDate1 + " del día " + week_day);
        event.preventDefault();
        console.log('Aqui está el error')
      }
      var startDate = convertTime12to24($('#{{service.id|safe}}' + '-' + week_day + '-from_2').val());
      var stt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate);
      stt = stt.getTime();

      var endDate = convertTime12to24($('#{{service.id|safe}}' + '-' + week_day + '-to_2').val());
      var endt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate);
      endt = endt.getTime();
      if (stt > endt) {
        alert("El horario " + startDate2 + " es mayor a " + endDate1 + " del día " + week_day);
        event.preventDefault();
        console.log('Aqui está el error')
      }
      {% endfor %}


    });
  }

  $('.time').ptTimeSelect();
</script>
{% endblock %}
