{% extends 'core/base.html' %}
{% load static %}
<!--Vista de reservaciones personal-->

{% block title %}
Agenda
{% endblock %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Panel de control / Mis Reservaciones</h1>
        </div>
        <div class="row">            
            {% for reservacion in reservations %}
            <div class="col-lg-4 mb-4">
                <div class="card shadow mb-4 text-center">
                    <div class="card-header bg-info text-white">                        
                        Reserva para el servicio servicio: {{reservacion.servicio.nombre}}
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            {% if reservacion.estado == True %}
                            <div class="qrbox">
                                <img id="qr-image" src=""/>
                            </div>
                            <span class="badge badge-success">Aceptada</span>
                            {% else %}
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                src="{% static 'core/img/sigelo.png' %}" alt="">
                            {% endif %}
                        </div>
                        <input type="text" name="reservacion_pk" id="reservacion_pk" value="{{reservacion.pk}}" hidden>
                        <h5 class="card-title">Ofertante: {{reservacion.servicio.tienda.perfil.nombres}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{negocio.created}}</h6>
                        <p class="card-text">Hora de inicio: {{reservacion.from_t}}</p>
                        <p class="card-text">Hora final: {{reservacion.to_t}}</p>  
                        {% if reservacion.estado == True %}
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="{{reservacion.servicio.tienda.id}}">Califícanos</button>    
                        {% endif %}
                        {% if reservacion.estado == False and reservacion.pendiente == True %}
                            <span class="badge badge-warning">pendiente</span>
                        {% endif %}
                        {% if reservacion.estado == False and reservacion.pendiente == False %}
                            <span class="badge badge-danger">Rechazada</span>
                        {% endif %}                                            
                        <a target="_blank"
                            href="https://api.whatsapp.com/send?phone=57{{reservacion.servicio.user.perfil.telefono}}&text=Hola%21%2c%20es%20para%20confirmar%20la%20cita%20agendada%20por%20sigelo.org&source=&data=&app_absent="
                            class="btn btn-primary btn-icon-split btn-block">
                            <i class="fab fa-whatsapp fa-3x"></i>
                        </a>

                                            

                    </div>
                </div><br>
            </div>
            {% endfor %}
        </div>
    </div>

    </div>


<!--Modal ventana-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'cal:tienda-calificacion' %}" method="GET">
					<div class="clasificacion">
						<center>
							<input id="radio1" type="radio" name="estrellas" value="100">
							<!--
              --><label for="radio1"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio2" type="radio" name="estrellas" value="80">
							<!--
              --><label for="radio2"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio3" type="radio" name="estrellas" value="60">
							<!--
              --><label for="radio3"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio4" type="radio" name="estrellas" value="40">
							<!--
              --><label for="radio4"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio5" type="radio" name="estrellas" value="20">
							<!--
              --><label for="radio5"><i class="fas fa-star fa-2x"></i></label>
							<input id="id_tienda" name="id_tienda" hidden>
						</center>
					</div>
					<div class="form-group">
						<label for="comentario" class="col-form-label">Comenta tu experiencia</label>
						<textarea class="form-control" name="comentario" id="comentario"></textarea>
					</div>
					<button type="submit" class="btn btn-success btn-block"><span
							class="glyphicon glyphicon-off"></span>Califícanos</button>
					<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">No hice
						pedido</button>
				</form>
			</div>

		</div>
	</div>
</div>




    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
            </li>
            {% endif %}
            {% for i in paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    </div>
</main>
{% endblock %}




{% block js-extra %}
<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var recipient = button.data('whatever')
			var modal = $(this)
			modal.find('.modal-title').text('Califica nuestro servicio')
			modal.find('.modal-body input[name="id_tienda"]').val(recipient)
		})		  
</script>


<script src="{% static 'core/js/qr.js' %}"></script>
<script>
    $(document).ready(function() {


        var pk_reservation = document.getElementById("reservacion_pk")
        image = document.getElementById("qr-image");
        let data = pk_reservation;
        let size = "150x150";
        let baseURL = "http://api.qrserver.com/v1/create-qr-code/";
        let url = `${baseURL}?data=${data}&size=${size}`;
        image.src = url;
    });
</script>
<script>
    $(document).ready(function () {
        $('.servicio').select2();
    });
</script>
{% endblock %}
