{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado negocios{% endblock %}
{% block control %}
{% include 'profiles/controlnav.html' %}
{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="{% url 'cal:crear_servicio' pk_tienda=id %}" class="btn btn-success btn-block">Crear Servicio</a>            
        </div>
        <div class="row">

            {% if servicios %}

            {% for servicio in servicios %}
            <div class="col-lg-4 mb-4">
                <div class="card shadow mb-4 text-center">
                    <div class="card-header bg-info text-white">
                        Servicio: {{servicio.nombre}}
                    </div>
                    <div class="card-body">
                      <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" src="{{servicio.foto_servicio.url}}" alt="{{servicio.nombre}}"
                          style="width: 25rem;">
                      </div>
                        <h5 class="card-title"></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>{{servicio.direccion}}</strong></h6>
                        <p class="card-text">{{servicio.modalidad}}</p>
                        <p class="card-text">{{servicio.telefono}}</p>
                        <a href="{% url 'cal:calendar' pk=servicio.tienda.perfil.id_user.pk flag='1' %}" class="btn btn-info btn-block mb-2">Ver
                          agenda</a> 
                        <a href="{% url 'cal:queues' pk=user.id pk_service=servicio.id %}" class="btn btn-success btn-block"><i
                            class="fas fa-fw fa-tachometer-alt"></i>Crear cola</a>      
                        <a href="{% url 'cal:service_agenda' pk=user.id pk_service=servicio.id %}" class="btn btn-success btn-block"><i
                              class="fas fa-fw fa-tachometer-alt"></i>Gestionar Horario</a>                   
                        <a href="{% url 'cal:editar_servicio' servicio.id %}" class="btn btn-success btn-block mb-2">Actualizar
                            servicio</a>
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#deleteModal" data-whatever="{{servicio.id}}">Eliminar</button>
                    </div>
                </div><br>
            </div>
            {% endfor %}
            {% else %}

            <h1>No tienes servicios registrados!</h1>

            {% endif %}
        </div>

    </div>





    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
            </li>
            {% endif %}
            {% for i in paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}    
</main>


    <!-- Ventana modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Servicio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="GET" action="{% url 'cal:delete_servicio' %}">          
              <div class="form-group">            
                <input type="text" class="form-control" id="recipient-name" name="pk" hidden>
              </div>  
              <button type="submit" class="btn btn-primary btn-block">Eliminar</button>
              <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>                
            </form>
          </div>                  
        </div>
      </div>
    </div>
    

{% endblock %}


{% block js-extra %}

<script>

$('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var recipient = button.data('whatever') 
  var modal = $(this)  
  modal.find('.modal-body input').val(recipient)
})

</script>


{% endblock %}