{% extends 'core/base.html' %}
{% load static %}
{% block title %}Filas{% endblock %}

{% block content %}
<div class="col-lg-12 mb-12">
  <div class="card shadow mb-6 text-center">
    <div class="col-md-12 order-md-2 mb-4">
      {% for message in messages %}
      <p id="messages">{{message}}</p>
      {% endfor %}

      <table id="services" class="table table-striped table-bordered row-border" style="width:100%">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Servicio</th>
            <th>Personas por franja</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for queue in queues%}
          <tr>
            <td>{{queue.name}}</td>
            <td>{{queue.servicio}}</td>
            <td>{{queue.people_per_time}}</td>
            <td>
              <button class="fas fa-edit"
                onclick="updateService({{queue.id}},'{{queue.name}}','{{queue.people_per_time}}', {{queue.servicio.pk}})"></button>
              <button class="fas fa-trash-alt" onclick="deleteService({{queue.id}})"></button>
            </td>
          </tr>
          {% endfor %}
          </tfoot>
      </table>

      <a href="#addService" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Crear Cola</a>
    </div>
  </div>
</div>

<div class="modal fade" id="addService" tabindex="-1" role="dialog" aria-labelledby="addQueueLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addQueueLabel">Nueva cola</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="name" class="col-form-label">Nombre</label>
            <input type="text" class="form-control" name="name" id="name">
          </div>
          <div class="form-group">
            <label for="people_per_time" class="col-form-label">Personas por franja</label>
            <input type="number" id="people_per_time" name="people_per_time" min="1" max="100">
            <input type="hidden" class="form-control" name="id" id="id">
            <input type="hidden" class="form-control" name="pk_service" id="pk_service">
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" name="create_queue" class="btn btn-primary">Crear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteQueue" tabindex="-1" role="dialog" aria-labelledby="deleteServiceLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteServiceLabel">¿ Esta seguro que desea borrar esta cola ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="id" class="col-form-label">¿ Desea eliminar esta cola ?</label>
            <input type="hidden" class="form-control" name="id" id="delete_id">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" name="delete_queue" class="btn btn-primary">Borrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>

  $("#tableMenu a").click(function (e) {
    e.preventDefault(); // cancel the link behaviour
    var selText = $(this).text();
    var selId = $(this).attr("name")
    $("#tableButton").text(selText);
    $("#service_queue").val(selId);
  });



  $(document).ready(function () {

    var table = $('#services').DataTable({
      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst": "Primero",
          "sLast": "Último",
          "sNext": "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
      dom: 'Blfltip',
      bLengthChange: false,
    });

  });
  function updateService(id, name, people, pk_service) {
    $('#addService').modal();
    $('#name').val(name);
    $('#people_per_time').val(people);
    $('#id').val(id);
    $('#pk_service').val(pk_service);
  }
  function deleteService(id) {
    $('#deleteQueue').modal();
    $('#delete_id').val(id);
  }

  var dia = $('#minutes').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': '00:00:00'
  });

  $('#check-minutes').click(function (e) {
    e.stopPropagation();
    dia.clockpicker('show')
      .clockpicker('toggleView', 'minutes');
  });
</script>

{% endblock %}