{% extends 'cal/base.html' %}
{% load static %}
{% load company_tags %}

Header add Access-Control-Allow-Origin "*"

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.3/jquery.timepicker.min.css" rel="stylesheet">
{% endblock %}


{% block header %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'company' pk_company=pk_company %}">Empresa</a>
                            </li>
                            <li class="breadcrumb-item"><a
                                    href="{% url 'services' pk_company=pk_company %}">Servicios</a></li>
                            <li class="breadcrumb-item active"><a href="#">Agendamiento</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            {% for message in messages %}
            <div class="px-2 py-2 bg-gradient-warning text-white">{{message}}</div>
            {% endfor %}
            <br>
            <div style="text-align:center" class="bg-gradient-danger text-gray-200">
                <h3>Agendamiento del servicio {{service.name}}</h3>
            </div>
            <br>

            <div id="errors" class="bg-gradient-warning">

            </div>

            <form id="form" method="POST">

                {% csrf_token %}
                {% for week_day in week_days %}
                <h1 style="text-align: center" class="card-title bg-gradient-secondary text-gray-200">{{week_day|title}}
                </h1>
                <div class="table-responsive">
                    <table class="table table-bordered" style="text-align: center;">
                        <tr class="bg-gradient-danger text-gray-200">
                            <th>Activar</th>
                            {% if week_day in schedule_list%}
                            <th><input type="checkbox" name="{{check}}" value="{{check}}" checked></th>
                            {% else %}
                            <th><input type="checkbox" name="{{check}}" value="{{check}}"></th>
                            {% endif %}
                        </tr>
                        <tr class="bg-gray-400 text-gray-800">
                            <td class="text-gray-900" colspan="2">
                                Horario 1
                            </td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">
                                Desde
                            </td>
                            <td>
                                <div>
                                    {% with look=week_day|add:'-from_1'%}
                                    {%if schedule_time|lookup:look %}
                                    <input type="text" class="time start" id="{{look}}" name="{{look}}"
                                        value="{{schedule_time|lookup:look}}" />

                                    {% else %}
                                    <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">
                                Hasta
                            </td>
                            <td>
                                <div>
                                    {% with look=week_day|add:'-to_1'%}
                                    {%if schedule_time|lookup:look %}
                                    <input type="text" class="time end" id="{{look}}" name="{{look}}"
                                        value="{{schedule_time|lookup:look}}" />
                                    {% else %}
                                    <input type="text" class="time end" id="{{look}}" name="{{look}}" />
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-gray-400 text-gray-800">
                            <td class="text-gray-900" colspan="2">
                                Horario 2
                            </td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">
                                Desde
                            </td>
                            <td>
                                <div>
                                    {% with look=week_day|add:'-from_2'%}
                                    {%if schedule_time|lookup:look %}
                                    <input type="text" class="time start" id="{{look}}" name="{{look}}"
                                        value="{{schedule_time|lookup:look}}" />
                                    {% else %}
                                    <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                                    {% endif %}
                                    {% endwith %}
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="text-gray-900">
                                Hasta
                            </td>
                            <td>
                                <div>
                                    {% with look=week_day|add:'-to_2'%}
                                    {%if schedule_time|lookup:look %}
                                    <input type="text" class="time start" id="{{look}}" name="{{look}}"
                                        value="{{schedule_time|lookup:look}}" />
                                    {% else %}
                                    <input type="text" class="time start" id="{{look}}" name="{{look}}" />
                                    {% endif %}
                                    {% endwith %}
                                </div>

                            </td>
                        </tr>
                    </table>
                    <div style="text-align: center">
                        <input type="submit" class="btn btn-danger btn-lg" onclick="validate('{{week_day}}')"
                            name="actualizar-{{week_day}}" value="Actualizar {{week_day|title}}" />
                    </div>
                    <br>
                    {% endfor %}
                </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.3/jquery.timepicker.min.js"></script>
    <script>
        $('.time').timepicker({
            timeFormat: 'H:mm',
            interval: 5,
            minTime: '5',
            maxTime: '23:55',
            startTime: '05:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    </script>
    <script>
        function validate(week_day) {
            $("#form").submit(function (event) {

                var dt = new Date();

                var startDate = $('#' + week_day + '-from_1').val();
                var stt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate);
                stt = stt.getTime();

                var endDate = $('#' + week_day + '-to_1').val();
                var endt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate);
                endt = endt.getTime();

                if (stt > endt) {
                    $('#errors').html("<p style='color:white;'>ADVERTENCIA!!! </p>" +
                        "<p style='color:white;'>El horario " + startDate + " es menor a " + endDate + " del día " + week_day + "</p>");
                    event.preventDefault();
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                }

                var startDate2 = $('#' + week_day + '-from_2').val();
                var stt2 = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate2);
                stt2 = stt2.getTime();

                var endDate2 = $('#' + week_day + '-to_2').val();
                var endt2 = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate2);
                endt2 = endt2.getTime();

                if (stt2 > endt2) {
                    $('#errors').html("<p style='color:white;'>ADVERTENCIA!!! </p>" +
                        "<p style='color:white;'>El horario " + startDate2 + " es menor a " + endDate2 + " del día " + week_day + "</p>");
                    event.preventDefault();
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                }

            });
        }
    </script>
    {% endblock %}