{% extends 'cal/base.html' %}

{% block header %}

<div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Servicios</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item active"><a href="{% url 'company' pk_company=pk_company %}">Empresa</a></li>
                  <li class="breadcrumb-item active"><a href="#">Servicios</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        {% for message in messages %}
          <p id="messages">{{message}}</p>
        {% endfor %}

        <table id="services" class="table table-striped table-bordered row-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Duración de cada franja (minutos)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services%}
                <tr>
                    <td>{{service.name}}</td>
                    <td>{{service.time}}</td>
                    <td>
                        <button class="fas fa-edit" onclick="updateService({{service.id}},'{{service.name}}',{{service.time}})"></button>
                        <button class="fas fa-trash-alt" onclick="deleteService({{service.id}})"></button>
                    </td>
                </tr>
                {% endfor %}
            </tfoot>
        </table>

      <a href="#addService" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Crear Servicio</a>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addService" tabindex="-1" role="dialog" aria-labelledby="addServiceLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addServiceLabel">Nuevo servicio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST">
          <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label for="name" class="col-form-label">Nombre</label>
                <input type="text" class="form-control" name="name" id="name">
                <div class="form-group">
                  <input class="" id="minutes" name="time" value="" placeholder="0">
                  <button type="button" id="check-minutes">Seleccionar franja</button>
                </div>
                <input type="hidden" class="form-control" name="id" id="id">
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" name="create_service" class="btn btn-primary">Crear</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteService" tabindex="-1" role="dialog" aria-labelledby="deleteServiceLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteServiceLabel">Esta seguro que desea borrar este servicio?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST">
          <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label for="name" class="col-form-label">Borrar el servicio?</label>
                <input type="hidden" class="form-control" name="id" id="delete_id">
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" name="delete_service" class="btn btn-primary">Borrar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function() {

        var table = $('#services').DataTable({
        "language": {
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":    "Último",
                    "sNext":    "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        dom: 'Blfltip',
        bLengthChange: false,
        });

    } );
    function updateService(id, name, time){
        $('#addService').modal();
        $('#name').val(name);
        $('#id').val(id);
        $('#minutes').val('00:'+time);
    }
    function deleteService(id){
        $('#deleteService').modal();
        $('#delete_id').val(id);
    }


    var dia = $('#minutes').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': '00:00:00'
    });

    $('#check-minutes').click(function(e){
        e.stopPropagation();
        dia.clockpicker('show')
          .clockpicker('toggleView', 'minutes');
        });
    </script>
{% endblock %}