{% extends 'core/base.html' %}
{% load static %}
{% load cal_tags %}
{% block title %}Listado servicios{% endblock %}

{% block css-extra %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.3/jquery.timepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style type="text/css">
  .transformacion1 {
    text-transform: capitalize;
  }
</style>

<div class="row">
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="card bg-red">
          {% for message in messages %}
          <div class="px-2 py-2 bg-gradient-warning text-white">{{message}}</div>
          {% endfor %}
          <div class="card-header bg-info text-white text-center">
            Agendamiento para el Servicio: {{pk_service}}
          </div>
          <div class="card-body">
            <div id="errors">
            </div>
            <form id="form1" method="POST">
              {% csrf_token %}
              {% for week_day in week_days %}
              <h1 class="transformacion1 card-title text-center" style="color: rgb(175, 24, 24);">{{week_day}}</h1>
              <div class="table-responsive">
                <table class="table table-bordered" style="text-align: center;">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Activar</th>
                      <th scope="col">Horario 1</th>
                      <th scope="col">Horario 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <div class="checkbox">
                          {% if week_day in schedule_list%}
                          {% if schedule_list|lookup:week_day == True%}
                          <input type="checkbox" name="checked-{{week_day}}" value="True" checked>
                          {% else %}
                          <input type="checkbox" name="checked-{{week_day}}" value="False">
                          {% endif %}
                          {% else %}
                          <input type="checkbox" name="checked-{{week_day}}" value="False">
                          {% endif %}
                        </div>
                      </th>
                      <td>
                        <div class="form-group row">
                          <div class="col-sm-6">
                            <label for="{{look}}">Desde:</label>
                            {% with look=week_day|add:'-from_1'%}
                            {%if schedule_time|lookup:look %}
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />

                            {% else %}
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" />
                            {% endif %}
                            {% endwith %}
                          </div>
                          <div class="col-sm-6">
                            {% with look=week_day|add:'-to_1'%}
                            <label for="{{look}}">Hasta:</label>
                            {%if schedule_time|lookup:look %}
                            <input type="text" class="form-control form-control-user time end" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />
                            {% else %}
                            <input type="text" class="form-control form-control-user time end" id="{{look}}"
                              name="{{look}}" />
                            {% endif %}
                            {% endwith %}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="form-group row">
                          <div class="col-sm-6">
                            <label for="{{look}}">Desde:</label>
                            {% with look=week_day|add:'-from_2'%}
                            {%if schedule_time|lookup:look %}
                            <input type="text" class="form-control form-control-user time end" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />
                            {% else %}
                            <input type="text" class="form-control form-control-user time end" id="{{look}}"
                              name="{{look}}" />
                            {% endif %}
                            {% endwith %}
                          </div>

                          <div class="col-sm-6">
                            <label for="{{look}}">Hasta:</label>
                            {% with look=week_day|add:'-to_2'%}
                            {%if schedule_time|lookup:look %}
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" value="{{schedule_time|lookup:look}}" />
                            {% else %}
                            <input type="text" class="form-control form-control-user time start" id="{{look}}"
                              name="{{look}}" />
                            {% endif %}
                            {% endwith %}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="text-align: center">
                <input type="submit" class="btn btn-primary btn-lg btn-block" onclick="validate('{{week_day}}')"
                  name="actualizar-{{week_day}}" value="Actualizar {{week_day|title}}" />
              </div>
              <hr>
              {% endfor %}
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
  {% endblock %}

  {% block js %}
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.3/jquery.timepicker.min.js"></script>

  <script>
    $('.time').timepicker({
      timeFormat: 'H:mm',
      interval: 5,
      minTime: '5',
      maxTime: '23:55',
      startTime: '05:00',
      dynamic: false,
      dropdown: true,
      scrollbar: true
    });
  </script>
  <script>

    function validate(week_day) {
      $("#form1").submit(function (event) {

        var dt = new Date();

        var startDate = $('#' + week_day + '-from_1').val();
        var stt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate);
        stt = stt.getTime();

        var endDate = $('#' + week_day + '-to_1').val();
        var endt = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate);
        endt = endt.getTime();

        if (stt > endt) {
          alert("El horario " + endDate + " es menor a " + startDate + " del día " + week_day);
          event.preventDefault();
          $('html, body').animate({ scrollTop: 0 }, 'slow');
        }
        debugger;
        var startDate2 = $('#' + week_day + '-from_2').val();
        var stt2 = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + startDate2);
        stt2 = stt2.getTime();

        var endDate2 = $('#' + week_day + '-to_2').val();
        var endt2 = new Date((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + endDate2);
        endt2 = endt2.getTime();
        if (startDate2 != "") {
          if (endt > stt2) {
            alert("El horario " + startDate2 + " es menor a " + endDate + " del día " + week_day);
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
          }
        }
        debugger;
      });
    }
  </script>
  {% endblock %}