{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrar tienda de servicios{% endblock %}

{% block content %}

{% if msj %}
<p>{{msj}}</p>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Approach -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Registrar Tienda de Servicios</h6>
        </div>
        <div class="card-body">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group ">
              <h5>Ubique la Dirección en el Mapa</h5>
              <div id='mapa' style='width: 100%; height: 300px;'></div>
            </div>
            
            <button class="btn btn-primary btn-block" type="submit">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block mapa %}
<script>

var long = {{user.perfil.lon|safe}}
var latt = {{user.perfil.lat|safe}}
long = long.toString()
latt = latt.toString()
long = parseFloat(long)

document.getElementById('id_lon').value = long;
document.getElementById('id_lat').value = latt;


  var mi_lon = long
  var mi_lat = latt
  
  mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVpOTRyZiIsImEiOiJja2Eyc3ZjZnkwMnJuM2xwb3dwMHV3aTJqIn0.ZXtAWhh4Ff7J0Qk0YEe5nw';
  var map = new mapboxgl.Map({
    container: 'mapa',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [mi_lon, mi_lat],
    zoom: 14,

  });

  var marker = new mapboxgl.Marker({
    draggable: true
  })
    .setLngLat([mi_lon, mi_lat])
    .addTo(map);

  function onDragEnd() {
    var lngLat = marker.getLngLat();

    document.getElementById('id_lon').value = lngLat.lng;
    document.getElementById('id_lat').value = lngLat.lat;
  }

  marker.on('dragend', onDragEnd);
</script>

<script>
  var long = {{user.perfil.lon|safe}}
  long = long.toString()
  long = parseFloat(long)
  console.log(long)
</script>
{% endblock %}