{% extends 'cal/base.html' %}

{% block title %}
Confirmar Reservacion
{% endblock %}

{% block content %}


<div class="container">
  <form action="{% url 'cal:confirmar_reservacion'  %}"></form>
</div>    
{% endblock %}