{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-12 mb-12">
	<div class="card shadow mb-6 text-center">
		<div class="col-md-12 order-md-2 mb-4">
			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Producto</strong></div>
					<div style="flex:1"><strong>Precio</strong></div>
					<div style="flex:1"><strong>Cantidad</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.producto.foto.url}}"></div>
					<div style="flex:2">
						<p>{{item.producto.nombre}}</p>
					</div>
					<div style="flex:1">
						<p>${{item.producto.precio|floatformat:2}}</p>
					</div>
					<div style="flex:1">
						<div class="quantity">
							<i data-product="{{item.producto.id}}" data-action="add"
								class="fa fa-caret-square-o-up chg-quantity update-cart" aria-hidden="true"></i>
							<br>
							<p class="">{{item.quantity}}</p>
							<i data-product="{{item.producto.id}}" data-action="remove"
								class="fa fa-caret-square-o-down chg-quantity update-cart" aria-hidden="true"></i>
						</div>
					</div>
					<div style="flex:1">
						<p>${{item.get_total|floatformat:2}}</p>
					</div>
				</div>
				<br>
				{% endfor %}
			</div>

			<table class="table">
				<tr>
					<th>
						<h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
					</th>
					<th>
						<h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5>
					</th>
					<th>
						{% if boton == 1 %}
						<a style="float:right; margin:5px;" class="btn btn-success"
							href="{% url 'negocios:checkout' pk=pk%}">Confirmar Order</a>
						{% endif %}
					</th>
				</tr>
			</table>
			<a class="btn btn-outline-dark" href="{% url 'core:home' %}">&#x2190; Regresar al inicio
				<i class="fa fa-shopping-basket" style="font-size:36px"></i>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="box-element">




		</div>

		<br>

	</div>
</div>
{% endblock content %}
