{% extends 'core/base.html' %}
{% load static %}
{% block content %}



<div class="col-lg-12 mb-12">
	<div class="card shadow mb-6 text-center">
		<div class="col-md-12 order-md-2 mb-4">
			<br>
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Tu Carrito de Compras</span>
				<span class="badge badge-secondary badge-pill">{{order.get_cart_items}}</span>
			</h4>
			<div class="row">
				<div class="col-md-6 order-md-2 mb-4">
					<div class="box-element" id="form-wrapper">
						<form id="form1" class="card p-2">
							<hr>
							<p>Confirmar información de compra:</p>
							<hr>
							<div id="shipping-info">
								<div class="input-group p-2">
									<input required class="form-control" type="text" id="name" name="name"
										placeholder="Name.." value="{{user.perfil.nombres}}">
								</div>
								<div class="input-group p-2">
									<input required class="form-control" type="email" id="email" name="email"
										placeholder="Email.." value="{{user.email}}" disabled>
								</div>
								<div class="input-group p-2">
									<input class="form-control" type="text" id="address" name="address"
										placeholder="Address.." value="{{user.perfil.direccion}}">
								</div>
							</div>
							{% if boton == 1 %}
							<input id="form-button" class="btn btn-secondary btn-block" type="submit"
								value="Confirmar orden">
							{% endif %}
						</form>
					</div>
					<!--<div class="box-element hidden" id="payment-info">
						<small>Paypal Options</small>
						<button id="make-payment">Make payment</button> 
						<div id="paypal-button-container"></div>
					</div>-->
				</div>
				<br>

				<div class="col-md-6 order-md-2 mb-4">
					<ul class="list-group mb-3">
						{% for item in items %}
						<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">{{item.producto.nombre}}</h6>
								<small class="text-muted">Cantidad: {{item.quantity}} </small>
							</div>
							<div><img class="row-image" src="{{item.producto.foto.url}}"></div>
							<span class="text-muted">${{item.get_total}}</span>
						</li>
						{% endfor %}
						<li class="list-group-item d-flex justify-content-between">
							<span>Costo de domicilio</span>
							<span class="text-muted">${{order.get_cart_domicilio}}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<span>Total (COP)</span>
							<strong>${{order.get_cart_total|floatformat:2}}</strong>
						</li>
					</ul>
				</div>
			</div>
			<a class="btn btn-outline-dark" href="{% url 'negocios:cart' pk=pk%}">&#x2190; Regresar al carrito
				<i class="fa fa-cart-plus" style="font-size:36px"></i>
			</a>
		</div>

	</div>
</div>





<script type="text/javascript">
	var shipping = '{{order.shipping}}'
	var total = '{{order.get_cart_total}}'
	var form = document.getElementById('form1')
	// form.addEventListener('submit', function (e) {
	// 	e.preventDefault()
	// 	console.log('Form Submitted...')
	// 	submitFormData()
	// })
	document.getElementById('form-button').addEventListener('click', function (e) {
		submitFormData();
		window.location.reload();
		window.location.assign("{% url 'negocios:search' %}");
		alert('La orden se realizó satisfactoriamente, por favor confirmar en el correo');
		
	})
	function submitFormData() {
		console.log('Payment button clicked')
		var userFormData = {
			'name': null,
			'email': null,
			'total': total,
		}
		var shippingInfo = {
			'address': null,
		}
		shippingInfo.address = form.address.value
		console.log('Shipping Info:', shippingInfo)
		console.log('User Info:', userFormData)
		if (total > 0) {
			var url = "../process_order"
			fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'applicaiton/json',
					'X-CSRFToken': csrftoken,
				},
				body: JSON.stringify({ 'form1': userFormData, 'shipping': shippingInfo }),

			})
				.then((response) => response.json())
				.then((data) => {
					console.log('Success:', data);
					cart = {}
					document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
					//window.location.href = "{% url 'negocios:search' %}"
					//window.location.reload(true)
				})
		}

	}
</script>
{% endblock content %}