<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Correo de confirmación de orden</title>
    <!-- Custom styles for this template -->
</head>

<body class="bg-light">

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td class="active">{{item.producto.nombre}}</td>
                <td class="success">Cantidad: {{item.quantity}}</td>
                <td class="warning">${{item.get_total}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Costo Domicilio</td>
                <td>${{domicilio}}</td>
            </tr>
            <tr>
                <td>Total (COP)</td>
                <td>${{total|floatformat:2}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        En sigelo se ha realizado una orden a tu nombre, por favor confirmar o rechazar la orden dando clik en los siguientes enlaces de acuerdo a tu decisión.
    </div>
    <div>
        <a href="http://{{host}}{% url 'negocios:confirmar_orden' pk_order=pk_order %}">Confirmar orden</a>
    </div>
    <div>
        <a href="http://{{host}}{% url 'negocios:confirmar_orden' pk_order=pk_order %}">Confirmar orden</a>
    </div>
    <div>

    </div>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; SIGELO 2020</span>
            </div>
        </div>
    </footer>
</body>

</html>