<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar orden</title>
</head>
<body>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td class="active">{{item.producto.nombre}}</td>
                <td class="success">{{item.quantity}}</td>
                <td class="warning">${{item.get_total}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Costo Domicilio</td>
                <td>${{domicilio}}</td>
            </tr>
            <tr>
                <td>Total (COP)</td>
                <td>${{total|floatformat:2}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        En sigelo se ha realizado una orden a su negocio.
    </div> 
    <div>
        <a href="https://{{host}}{% url 'negocios:ver_orden' pk_order=pk_order pk=pk %}">Ver orden</a>
    </div>

</body>
</html>