{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado negocios{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h1 text-gray-900 mb-4">{{negocio.nombre}} Te da la bienvenida</h1>
                                <h5 class="h5 text-gray-900 mb-4">{{negocio.direccion}}</h5>
                                <h5 class="h5 text-gray-900 mb-4">{{negocio.telefono}}</h5>
                                <h5 class="h5 text-gray-900 mb-4">Costo del domicilio $ {{negocio.costo}} COP</h5>
                            </div>
                            <hr>
                            <div class="user">
                                <a href="{% url 'core:home' %}" class="btn btn-facebook btn-user btn-block">
                                    <i class="fa fa-home fa-fw"></i>Regresar
                                </a>
                                <a target="_blank"
                                    href="https://api.whatsapp.com/send?phone=57{{negocio.telefono}}&text=Hola%21%2c%20cómo%20 estas%3f%20Te%20 encontré%20en%20sigelo.org%20y%20quiero%20pedirte%20un%20Domicilio&source=&data=&app_absent"
                                    class="btn btn-success btn-icon-split btn-block">
                                    <span class="text small"> Envíanos un mensaje por WhatsApp </span><i
                                        class="fab fa-whatsapp fa-2x"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if productos %}
            {% for producto in productos %}
            <div class="col-lg-4 mb-4">
                <div class="card shadow mb-4 text-center">
                    <div class="card-header bg-info text-white">
                        <h5 class="h5 text-gray-900 mb-4">{{producto.nombre}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" width="250 px" height="250 px"
                                src="{{producto.foto.url}}" alt="{{producto.nombre}}">
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">$ {{producto.precio}} COP</h6>
                        <p class="card-text">{{producto.categoria}}</p>
                        <p class="card-text">{{producto.negocio}}</p>
                        <a href="{% url 'negocios:list_negocios' %}" class="btn btn-primary btn-block mb-2">Ir a lista
                            de
                            negocios</a>
                    </div>
                </div><br>
            </div>
            {% endfor %}
            {% else %}

            <h1>No tiene productos registrados </h1>
            <a href="{% url 'negocios:crear_producto' %}" class="btn btn-success">Crear producto</a>
            <a target="_blank"
                href="https://api.whatsapp.com/send?phone=57{{negocio.telefono}}&text=Hola%21%2c%20cómo%20 estas%3f%20Te%20 encontré%20en%20sigelo.org%20y%20quiero%20pedirte%20un%20Domicilio&source=&data=&app_absent=', '_blank');">
                <span class="icon text-white-50"><i class="fab fa-whatsapp fa-2x"></i></span><span
                    class="text small">Envíanos un mensaje por WhatsApp</span>
            </a>
            {% endif %}
        </div>




    </div>

</main>
{% endblock %}

