{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrar Producto{% endblock %}
{% block control %}
{% include 'profiles/controlnav.html' %}
{% endblock %}

{% block content %}
{% if msj %}
<p>{{msj}}</p>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Approach -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Registrar Producto</h6>
        </div>
        <div class="card-body">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success btn-block" type="submit">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
