{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado negocios{% endblock %}

{% block css-extra %}

<style>
  .fa-star {
    color: orange;
}
</style>

{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Panel de control / Lista de comentarios</h1>
    </div>
    <div class="row">
      {% if comentarios %}
      {% for calificacion in comentarios %}
      <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4 text-center">
          <div class="card-header bg-info text-white">
            Negocio: {{calificacion.negocio.nombre}}
          </div>
          <div class="card-body">
            <div class="text-center">
              <p class="form-control form-control-user" readonly disabled>{{calificacion.comentario}}</p>
            </div>
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">Registrado desde - {{calificacion.created}}</h6>
            <h6 class="card-subtitle mb-2 text-muted"><strong>Hecho por - {{calificacion.user.perfil.nombres}}</strong></h6>
            
            <div class="clasificacion">

            
						<center>
              {% if calificacion.puntuacion == 20 %}													
              <i class="fas fa-star fa-2x"></i>						              
              {% endif %}
              {% if calificacion.puntuacion == 40 %}													
              <i class="fas fa-star fa-2x"></i>						
              <i class="fas fa-star fa-2x"></i>              
              {% endif %}
              {% if calificacion.puntuacion == 60 %}													
              <i class="fas fa-star fa-2x"></i>						
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              {% endif %}
              {% if calificacion.puntuacion == 80 %}
            	<i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              {% endif %}
              {% if calificacion.puntuacion == 100 %}
            	<i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              {% endif %}
            </center>
            
					
          </div>
          <br>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="{{calificacion.pk}}">Eliminar</button>
            <a href="{% url 'profiles:Perfillist' %}" class="btn btn-secondary btn-block mb-2">Regresar</a>            
          </div>
        </div><br>
      </div>
      {% endfor %}
      {% else %}

      <a href="{% url 'profiles:Perfillist' %}" class="btn btn-primary btn-block mb-2">No existen comentarios</a>

      {% endif %}
    </div>



  <!-- Menú de paginación -->
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
      {% endif %}
      {% for i in paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  </div>
</main>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar calificacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'negocios:delatecoment' %}" method="GET"> 
          <div class="form-group">            
            <input type="text" class="form-control" id="option" name="option" hidden>
          </div>
          <button type="submit" class="btn btn-primary btn-block"><span
            class="glyphicon glyphicon-off"></span>Eliminar</button> 
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button> 
                 
        </form>
      </div>      
    </div>
  </div>
</div>




{% endblock %}




{% block js %}

<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-body input').val(recipient)
})
</script>

{% endblock %}