{% extends 'core/base.html' %}
{% load static %}
{% block title %}Listado productos{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Lista de productos</h1>
    </div>
    <div class="row">
      {% if productos %}
      {% for producto in productos %}
      <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4 text-center">
          <div class="card-header bg-info text-white">
            Producto: {{producto.nombre}}
          </div>
          <div class="card-body">
            <div class="text-center">
              <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" src="{{producto.foto.url}}" alt="{{producto.nombre}}"
                style="width: 25rem;">
            </div>            
            <h6 class="card-subtitle mb-2 text-muted">{{producto.precio}}</h6>
            <p class="card-text">{{producto.categoria}}</p>
            <p class="card-text">{{producto.negocio}}</p>
            <a href="{% url 'negocios:list_negocios' %}" class="btn btn-primary btn-block mb-2">Ir a lista de
              negocios</a>
              <a href="{% url 'negocios:editar_producto' pk=producto.pk %}" class="btn btn-secondary btn-block mb-2">Editar</a>
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#deleteModal" data-whatever="{{producto.id}}">Eliminar</button>
          </div>
        </div><br>
      </div>
      {% endfor %}
      {% else %}

      <h1>No tiene productos registrados </h1> <!--Aqui esta el error-->
      <a href="{% url 'negocios:crear_producto' pk_negocio=id %}" class="btn btn-success">Crear producto</a>

      {% endif %}
    </div>  
  </div>

  <!-- Ventana modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'negocios:delete_producto' %}">          
          <div class="form-group">            
            <input type="text" class="form-control" id="recipient-name" name="pk" hidden>
          </div>  
          <button type="submit" class="btn btn-primary btn-block">Eliminar</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>                
        </form>
      </div>                  
    </div>
  </div>
</div>


  <!-- Menú de paginación -->
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
      {% endif %}
      {% for i in paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item ">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}  
</main>
{% endblock %}


{% block js-extra %}

<script>

$('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var recipient = button.data('whatever') 
  var modal = $(this)  
  modal.find('.modal-body input').val(recipient)
})

</script>

{% endblock %}