{% extends 'core/base.html' %}
{% load static %}
{% load template_filters %}
{% block title %}Ordenes{% endblock %}



{% block content %}
<div class="col-lg-12 mb-12">
  <div class="card shadow mb-6 text-center">
    <div class="col-md-12 order-md-2 mb-4">
      {% for message in messages %}
      <p id="messages">{{message}}</p>
      {% endfor %}
      {% if not existe  %}

      <table id="services" class="table table-striped table-bordered row-border" style="width:100%">
        <thead>
          <tr>
            <th>Número de orden</th>
            <th>Detalle</th>
            <th>Estados</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>
          {% for key, orden in ordenes.items %}
          <tr>

            <td>{{key}}</td>
            <td>
              <div class="col-md-12 order-md-3 mb-3">
                <ul class="list-group mb-3">
                  {% for item in orden %}
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">{{item.producto.nombre}}</h6>
                      <small class="text-muted">Cantidad: {{item.quantity}} </small>
                    </div>
                    <span class="text-muted">${{item.get_total}}</span>
                  </li>
                  {% endfor %}
                  <li class="list-group-item d-flex justify-content-between">
                    <span>Costo de domicilio</span>
                    <span class="text-muted">${{domicilio|get_item:key}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span>Total (COP)</span>
                    <strong>${{ total|get_item:key }}</strong>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <br>
              <strong>{{ creada|get_item:key }}</strong>
              <br>
              {% if confima_cliente|get_item:key == True %}
              <span class="badge badge-success">confirmada por el cliente</span>
              {% else %}
              <span class="badge badge-danger">No confirmada por cliente</span>
              {% endif %}
              <br>
              <hr>
              {% for envio in env%}
              
              {% if envio.order_enviada == True %}
              <span class="badge badge-success">Orden enviada por el negocio de: {{envio.ofertante.perfil.nombres}}</span>
              <br>
              <strong>Fecha envio: {{ envio.fecha_envio }}</strong>
              <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ envio.negocio }}">Califícanos</button>                        	
              {% else %}
              <span class="badge badge-danger">Orden no enviada por el negocio de :{{envio.ofertante.perfil.nombres}}</span>
              <br>
              <strong>Fecha envio: {{ envio.fecha_envio }}</strong>
              <!--Aqui va el boton de calificacion -->
              {% endif %}
              <br>
              <hr>
              {% endfor %}
            </td>
            <td>              
              <button class="fas fa-trash-alt" onclick="deleteService({{key}})"></button>
            </td>

          </tr>
          {% endfor %}
          </tfoot>
      </table>
    </div>
    {% else %}
    <h1>No existen ordenes</h1>
    {% endif %}
  </div>
</div>
<div class="modal fade" id="deleteQueue" tabindex="-1" role="dialog" aria-labelledby="deleteServiceLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteServiceLabel">Esta seguro que desea borrar esta orden?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="id" class="col-form-label">Borrar orden</label>
            <input type="hidden" class="form-control" name="id" id="delete_id">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" name="delete_queue" class="btn btn-primary">Borrar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Modal ventana-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'negocios:calificacion_negocio' %}" method="GET">
					<div class="clasificacion">
						<center>
							<input id="radio1" type="radio" name="estrellas" value="100">
							<!--
              --><label for="radio1"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio2" type="radio" name="estrellas" value="80">
							<!--
              --><label for="radio2"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio3" type="radio" name="estrellas" value="60">
							<!--
              --><label for="radio3"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio4" type="radio" name="estrellas" value="40">
							<!--
              --><label for="radio4"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio5" type="radio" name="estrellas" value="20">
							<!--
              --><label for="radio5"><i class="fas fa-star fa-2x"></i></label>
							<input id="id_negocio" name="id_negocio" hidden>
						</center>
					</div>
					<div class="form-group">
						<label for="comentario" class="col-form-label">Comenta tu experiencia</label>
						<textarea class="form-control" name="comentario" id="comentario"></textarea>
					</div>
					<button type="submit" class="btn btn-success btn-block"><span
							class="glyphicon glyphicon-off"></span>Califícanos</button>
					<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">No hice
						pedido</button>
				</form>
			</div>

		</div>
	</div>
</div>





{% endblock %}


{% block js-extra %}
<script>
		$('#exampleModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var recipient = button.data('whatever')
			var modal = $(this)
			modal.find('.modal-title').text('Califica nuestro servicio')
			modal.find('.modal-body input[name="id_negocio"]').val(recipient)
		}) 
</script>

{% endblock %}



{% block js %}
<script>

  $("#tableMenu a").click(function (e) {
    e.preventDefault(); // cancel the link behaviour
    var selText = $(this).text();
    var selId = $(this).attr("name")
    $("#tableButton").text(selText);
    $("#service_queue").val(selId);
  });



  $(document).ready(function () {

    var table = $('#services').DataTable({
      "pagingType": "full_numbers",
      "language": {
        "sSearch": "Buscar orden:",
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar orden:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst": "Primero",
          "sLast": "Último",
          "sNext": "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },

    });

  });
  function updateService(id, name, people) {
    $('#addService').modal();
    $('#name').val(name);
    $('#people_per_time').val(people);
    $('#id').val(id);
  }
  function deleteService(id) {
    $('#deleteQueue').modal();
    $('#delete_id').val(id);
  }

  var dia = $('#minutes').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': '00:00:00'
  });

  $('#check-minutes').click(function (e) {
    e.stopPropagation();
    dia.clockpicker('show')
      .clockpicker('toggleView', 'minutes');
  });
</script>

{% endblock %}