{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block search %}

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  action=" {% url 'negocios:search' %}" method="GET">
  <div class="input-group">
    <input class="form-control bg-light border-1 small" name="q" value="{{ query|escape }}" type="text"
      placeholder="Search" aria-label="Search">
    <select class="border-1 small form-control" id="id_category" name="id_category">      
      <option value="1">Productos</option>
      <option value="2">Servicios</option>
    </select>    
    <div class="input-group-append">
      <button class="btn btn-primary mr-3" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

{% endblock %}



{% block control %}
{% include 'profiles/controlnav.html' %}
{% endblock %}
{% block content %}
<div class="">
  <div class="">
    <div class="col-12">
      <div id='map' style='width: 100%; height: 580px;'></div>
    </div>
    
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'negocios:calificacion_negocio' %}" method="GET">
          <div class="clasificacion">
            <center>
              <input id="radio1" type="radio" name="estrellas" value="100">
              <!--
              --><label for="radio1"><i class="fas fa-star fa-2x"></i></label>
              <!--
              --><input id="radio2" type="radio" name="estrellas" value="80">
              <!--
              --><label for="radio2"><i class="fas fa-star fa-2x"></i></label>
              <!--
              --><input id="radio3" type="radio" name="estrellas" value="60">
              <!--
              --><label for="radio3"><i class="fas fa-star fa-2x"></i></label>
              <!--
              --><input id="radio4" type="radio" name="estrellas" value="40">
              <!--
              --><label for="radio4"><i class="fas fa-star fa-2x"></i></label>
              <!--
              --><input id="radio5" type="radio" name="estrellas" value="20">
              <!--
              --><label for="radio5"><i class="fas fa-star fa-2x"></i></label>

              <input id="id_negocio" name="id_negocio" hidden>
            </center>
          </div>
          <div class="form-group">
            <label for="comentario" class="col-form-label">Comenta tu experiencia</label>
            <textarea class="form-control" name="comentario" id="comentario"></textarea>
          </div>
          <button type="submit" class="btn btn-success btn-block"><span
              class="glyphicon glyphicon-off"></span>Califícanos</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">No hice pedido</button>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}



{% block js-extra %}
<script>

  function mifuncion(numero) {
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('whatever')
      var modal = $(this)
      modal.find('.modal-title').text('Califica nuestro servicio')
      modal.find('.modal-body input[name="id_negocio"]').val(recipient)
    })
    window.open('https://api.whatsapp.com/send?phone=57' + numero + '&text=Hola%21%2c%20cómo%20 estas%3f%20Te%20 encontré%20en%20sigelo.org%20y%20quiero%20pedirte%20un%20Domicilio&source=&data=&app_absent=', '_blank');

  }  
</script>

{% endblock %}


{% block mapa %}
<script>
  var long = {{ user.perfil.lon| safe}}
  var latt = {{ user.perfil.lat| safe}}
  console.log(long)
  console.log(latt)
  long = long.toString()
  latt = latt.toString()
  long = parseFloat(long)


  var mi_lon = long
  var mi_lat = latt



  mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVpOTRyZiIsImEiOiJja2Eyc3ZjZnkwMnJuM2xwb3dwMHV3aTJqIn0.ZXtAWhh4Ff7J0Qk0YEe5nw';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [mi_lon, mi_lat],
    zoom: 16,
  });

  {% if negocios %}
console.log('entra por negocios')
  var geojson = {{ negocios| safe }}; // se le pasan el json con las coordenadas
  if (Object.keys(geojson).length === 0) {
    throw '';
  }
  else {
    geojson.features.forEach(function (marker) {

      // crea os marcadores recorriendo el geojson
      var el = document.createElement('div');
      el.className = 'marker';

      //  Se construye los marcadores usando un foreach
      new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // Se añaden las ventanas
          .setHTML('<h3><center>' + marker.properties.title + '</center></h3><p>' + marker.properties.description + '</p>'))
        .addTo(map);
    });

  }
  {% endif %}

{% if results %}
console.log('entra por servicios')
  var geojson1 = {{ results| safe }}
    console.log(Object.keys(geojson1).length === 0)
    if (Object.keys(geojson1).length === 0) {
      throw '';
    }
    else {
      geojson1.features.forEach(function (marker) {

        // crea os marcadores recorriendo el geojson
        var el = document.createElement('div');
        el.className = 'marker';

        //  Se construye los marcadores usando un foreach
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .setPopup(new mapboxgl.Popup({ offset: 25 }) // Se añaden las ventanas
            .setHTML(
              '<div class="card border-left-primary shadow h-100 py-2">' +
              '<div class="card-body">' +
              ' <div class="row no-gutters align-items-center">' +
              '<div class="col mr-2">' +
              '  <div class="h5 text-center font-weight-bold text-primary text-uppercase mb-2">' + marker.properties.title + '</div>' +
              '<div class="text-center">' +
              '  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"' +
              '   src="{% static "core/img/sigelo.png" %}" alt="">' +
              ' </div>' +
              marker.properties.description +
              '</div>' +
              '</div>' +
              ' </div>'))
          .addTo(map);
      });

    }
  {% endif %}


</script>
{% endblock %}
