{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<main role="main">


	<div class="container">
		<div class="col-lg-12 mb-12">
			<div class="card shadow mb-6 text-center">
				<div class="card-header bg-secondary text-white">
					<strong>{{negocio.nombre}}</strong>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-6" style="width: 10rem;"
							src="{{negocio.fachada.url}}" alt="">
					</div>
					<br>
					<h4 class="card-subtitle mb-2 text-muted"><strong>{{negocio.direccion}}</strong></h4>

					<h4 class="small font-weight-bold">Popularidad<span class="float-right">{{porcentaje}}%</span>
					</h4>
					<div class="progress mb-4">
						<div class="{{color}}" role="progressbar" style="width: {{porcentaje}}%" aria-valuenow="100"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<br>
					<div class="form-group">
						<a class="btn btn-success btn-icon-split btn-block btn-user text-white"
							onclick="mifuncion(numero={{negocio.telefono}})" data-toggle="modal"
							data-target="#exampleModal" data-whatever="{{negocio.id}}"><span class="text small">
								Envianos un Mensaje </span>
							<i class="fab fa-whatsapp fa-2x"></i>
						</a>
						<a href="{% url 'core:home' %}" class="btn btn-facebook btn-user btn-block">
							<i class="fa fa-home fa-fw"></i><span class="text small"> Regresar </span>
						</a>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				{% for product in products %}
				<div class="col-lg-4 mb-4">
					<div class="card shadow mb-4 text-center ">

						<div class="card-header bg-info text-white">
							<h4 class="my-0 font-weight-normal">{{product.nombre}}</h4>
							<strong></strong>
						</div>
						<div class="card-body">
							<div class="text-center">
								<h1 style="display: inline-block; float: right" class="card-title pricing-card-title">
									${{product.precio}} <small class="text-muted"></small></h1>
								</h4>
								<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
									src="{{product.foto.url}}" alt="">
							</div>
							<hr>
							<button data-product="{{product.id}}" data-action="add"
								class="btn btn-block btn-outline-info add-btn update-cart">Adiccionar al
								carrito
								<i class="fa fa-cart-plus" style="font-size:36px"></i>
							</button>

						</div>
					</div><br>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</main>


<!--Modal ventana-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'negocios:calificacion_negocio' %}" method="GET">
					<div class="clasificacion">
						<center>
							<input id="radio1" type="radio" name="estrellas" value="100">
							<!--
              --><label for="radio1"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio2" type="radio" name="estrellas" value="80">
							<!--
              --><label for="radio2"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio3" type="radio" name="estrellas" value="60">
							<!--
              --><label for="radio3"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio4" type="radio" name="estrellas" value="40">
							<!--
              --><label for="radio4"><i class="fas fa-star fa-2x"></i></label>
							<!--
              --><input id="radio5" type="radio" name="estrellas" value="20">
							<!--
              --><label for="radio5"><i class="fas fa-star fa-2x"></i></label>
							<input id="id_negocio" name="id_negocio" hidden>
						</center>
					</div>
					<div class="form-group">
						<label for="comentario" class="col-form-label">Comenta tu experiencia</label>
						<textarea class="form-control" name="comentario" id="comentario"></textarea>
					</div>
					<button type="submit" class="btn btn-success btn-block"><span
							class="glyphicon glyphicon-off"></span>Califícanos</button>
					<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">No hice
						pedido</button>
				</form>
			</div>

		</div>
	</div>
</div>

{% endblock content %}


{% block js-extra %}
<script>

	function mifuncion(numero) {
		$('#exampleModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var recipient = button.data('whatever')
			var modal = $(this)
			modal.find('.modal-title').text('Califica nuestro servicio')
			modal.find('.modal-body input[name="id_negocio"]').val(recipient)
		})
		window.open('https://api.whatsapp.com/send?phone=57' + numero + '&text=Hola%21%2c%20cómo%20 estas%3f%20Te%20 encontré%20en%20sigelo.org%20y%20quiero%20pedirte%20un%20Domicilio&source=&data=&app_absent=', '_blank');

	}  
</script>

{% endblock %}