{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	{% for product in products %}
	<div class="col-lg-4">
		<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{{product.foto.url}}" alt="">
		<div class="box-element product">
			<h6><strong>{{product.nombre}}</strong></h6>
			<hr>
			<button data-product="{{product.id}}" data-action="add"
				class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
			<a class="btn btn-outline-success" href="#">View</a>
			<h4 style="display: inline-block; float: right"><strong>${{product.precio}}</strong></h4>

		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}

{% block js-extra %}


{% endblock %}