{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Producto{% endblock %}
{% block control %}
{% include 'profiles/controlnav.html' %}
{% endblock %}
{% block content %}

{% if msj %}
<p>{{msj}}</p>
{% endif %}

<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Panel de control / Cambiar producto</h1>
    </div>
    <div class="form-group">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success btn-block" type="submit">Actualizar</button>
        </form>
    </div>

</div>

{% endblock %}
