{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}

<div class="container">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Modificar Negocios</h1>
  </div>
  <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <div class="form-group">
        <h5> eUbique la Dirección en el Mapa</h5>
        <div id='mapa' style='width: 100%; height: 300px;'></div>
      </div>

      <button class="btn btn-success btn-block" type="submit">Actualizar</button>
    </form>
  </div>

</div>

{% endblock %}

{% block mapa %}
<script>


var long = {{user.perfil.lon|safe}}
var latt = {{user.perfil.lat|safe}}
long = long.toString()
latt = latt.toString()
long = parseFloat(long)


  var mi_lon = long
  var mi_lat = latt

  mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVpOTRyZiIsImEiOiJja2Eyc3ZjZnkwMnJuM2xwb3dwMHV3aTJqIn0.ZXtAWhh4Ff7J0Qk0YEe5nw';
  var map = new mapboxgl.Map({
    container: 'mapa',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [mi_lon, mi_lat],
    zoom: 14,

  });

  var marker = new mapboxgl.Marker({
    draggable: true
  })
    .setLngLat([mi_lon, mi_lat])
    .addTo(map);

  function onDragEnd() {
    var lngLat = marker.getLngLat();

    document.getElementById('id_lon').value = lngLat.lng;
    document.getElementById('id_lat').value = lngLat.lat;
  }

  marker.on('dragend', onDragEnd);
</script>
{% endblock %}


{% block js %}

<script type="text/javascript">

  $(function () {

    if($("#id_domicilio").prop('checked')){
      $('#id_costo').prop("hidden", false);
    };
    $("#id_domicilio").change(function () {
      if(!$(this).prop('checked')) {
        $('#id_costo').prop("hidden", true);
      } else {
        $('#id_costo').prop("hidden", false);
      }      
    });
  });
</script>

{% endblock %}