<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <!-- Custom fonts for this template-->
  <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'core/css/sb-admin-2.min.css' %}" rel="stylesheet">
  {% block css %}
  {% endblock %}

</head>

<body class="bg-gradient-primary">  



  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">          
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              {% block content %}
              {% endblock %}              
              {% block extra_body %}
              {% endblock %}
              <hr>
              <div class="text-center">
                {% if messages %}
                <strong>Messages:</strong>
                <ul>
                {% for message in messages %}                
                <div class="alert alert-primary" role="alert">
                  <li>{{message}}</li>
                </div>
                {% endfor %}
              </ul>
                {% endif %}
              </div>          
              <div class="text-center">
                {% if user.is_authenticated %}
                <div class="text-center">
                  <a class="text-center button secondaryAction" href="{% url 'core:home' %}">Inicio</a>
                </div>
                <hr>
                <div class="text-center">
                  <a href=" {% url 'account_reset_password' %}" class="">Cambiar contraseña</a>
                </div>
                <hr>
                <div class="text-center">
                  <a href="{% url 'account_logout' %}" class="">Salir</a>
                </div>
                <hr>
                {% else %}

                {% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'core/js/sb-admin-2.min.js' %}"></script>
</body>

</html>