{% load static %}
<!-- {% include 'core/message.html' %} -->
<!DOCTYPE html>
<html lang='es'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Sigelo{% endblock %}</title>
  <!-- Custom fonts for this template-->
  <!-- jQuery library -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  <link href="{% static 'core/vendor/fontawesome-free/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'core/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <!--cdn maps-->
  <link rel="stylesheet" type="text/css"
    href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/redmond/jquery-ui.css" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'core/js/timeSelect/jquery.ptTimeSelect.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/js/clockpicker/clockpicker.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'core/js/clockpicker/standalone.css'%}" type="text/css">
  <script type="text/javascript">
    var user = '{{request.user}}'
    function getToken(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getToken('csrftoken')
    function getCookie(name) {
      // Split cookie string and get all individual name=value pairs in an array
      var cookieArr = document.cookie.split(";");
      // Loop through the array elements
      for (var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if (name == cookiePair[0].trim()) {
          // Decode the cookie value and return
          return decodeURIComponent(cookiePair[1]);
        }
      }
      // Return null if not found
      return null;
    }
    var cart = JSON.parse(getCookie('cart'))
    if (cart == undefined) {
      cart = {}
      console.log('Cart Created!', cart)
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }
    console.log('hola mundo')
    console.log('Cart:', cart)
  </script>

  <style>
    #form {
      width: 250px;
      margin: 0 auto;
      height: 50px;
    }

    #form p {
      text-align: center;
    }

    #form label {
      font-size: 20px;
    }

    input[type="radio"] {
      display: none;
    }

    label {
      color: grey;
    }

    .clasificacion {
      direction: rtl;
      unicode-bidi: bidi-override;
    }

    label:hover,
    label:hover~label {
      color: orange;
    }

    input[type="radio"]:checked~label {
      color: orange;
    }

    /* Aqui comienza el juego */
    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .clearfix {
      margin: 15px;
    }

    .title {
      text-align: center;
      margin: 10px;
    }

    .calendar {
      width: 98%;
      margin: auto;
      font-size: 13px;
    }

    .calendar tr,
    .calendar td {
      border: 1px solid black;
    }

    .calendar th {
      padding: 10px;
      text-align: center;
      font-size: 18px;
    }

    .calendar td {
      width: 200px;
      height: 150px;
      padding: 20px 0px 0px 5px;
    }

    .month {
      font-size: 25px;
    }

    .date {
      font-size: 16px;
    }

    #cart-icon {
      width: 25px;
      display: inline-block;
      margin-left: 15px;
    }

    #cart-total {
      display: block;
      text-align: center;
      color: #fff;
      background-color: red;
      width: 20px;
      height: 25px;
      border-radius: 50%;
      font-size: 14px;
    }

    .col-lg-4,
    .col-lg-6,
    .col-lg-8,
    .col-lg-12 {
      margin-top: 10px;
    }

    .row-image {
      width: 100px;
    }

    .form-field {
      width: 250px;
      display: inline-block;
      padding: 5px;
    }

    .cart-row {
      display: flex;
      align-items: flex-stretch;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ececec;
    }

    .quantity {
      display: inline-block;
      font-weight: 700;
      padding-right: 10px;
    }

    .chg-quantity {
      width: 12px;
      cursor: pointer;
      display: block;
      margin-top: 5px;
      transition: .1s;
    }

    .chg-quantity:hover {
      opacity: .6;
    }

    ul {
      height: 100%;
      padding: 0px 5px 0px 20px;
    }
  </style>
  <style>
    .marker {
      background-image: url("{% static 'core/imagenes/marker.png' %}");
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  </style>  
{% block css-extra %}
{% endblock %}
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Aquí va el controlnav -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->

      {% if user.is_authenticated %}
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'core:home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Bienvenido: {{ user.perfil.nombres }}<sup> </sup>
        </div>
      </a>
      {% if user.perfil.ingresos %}
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:home' %}">
          <i class="fa fa-shopping-bag"></i>
          <span>Inicio</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:Perfillist' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mi panel de control</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'negocios:list_negocios' %}">
          <i class="fa fa-map-marker"></i>
          <span>Tus negocios aquí!</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cal:tienda-list' %}">
          <i class="fa fa-bullhorn"></i>
          <span>Tus servicios aquí!</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-bag"></i>
          <span>Encuesta donaciones</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Salir
        </a>
      </li>
      <hr class="sidebar-divider my-0">
      {% endif %}
      {% if not user.perfil.ingresos %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:home' %}">
          <i class="fa fa-shopping-bag"></i>
          <span>Inicio</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:Perfillist' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mi panel de control</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-bag"></i>
          <span>Encuesta donaciones</span></a>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Salir
        </a>
      </li>
      <hr class="sidebar-divider my-0">
      {% endif %}
      {% else %}
      <!-- Nav Item - Dashboard -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Debes iniciar sesion</span></a>
      </li>
      {% endif %}


      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Aquí va el navbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <a class="d-none d-sm-inline-block form-inline" href="{% url 'core:home' %}"> <img class="icon"
              src="{% static 'core/img/sigelo.png' %}" alt=""></a>
          <!-- Topbar Search -->
          {% block search %}
          {% endblock %}
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            {% if request.user.is_authenticated %}
            <div class="form-inline my-2 my-lg-0">
              <a href="{% url 'negocios:cart' pk=request.user.pk%}">
                <i class="fa fa-cart-plus" style="font-size:30px"></i>
              </a>
              <p id="cart-total">{{cartItems}}</p>
            </div>
            {% endif %}           
          </ul>
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <!-- Aquí va el contenido -->
        {% block content %}
        {% endblock %}

        {% block js-coor %}
        {% endblock %}

        {% block mapa %}
        {% endblock %}
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <!-- Aquí va el Footer -->
      {% include 'core/footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
 <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <!-- Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿ Desea salir del sistema?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary btn-user btn-block" type="submit">Salir</button>
            <button class="btn btn-secondary btn-user btn-block" type="button" data-dismiss="modal">Cancelar</button>
 
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  
 

  
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'core/js/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/js/cart.js' %}"></script>
  <script src="{% static 'core/js/clockpicker/clockpicker.js' %}"></script>
  <script src="{% static 'core/js/datepicker.js' %}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <!-- Plugins for datatables -->
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <!-- TimePiker  -->

  {% block js-extra %}
  {% endblock %}

  {% block js %}
  {% endblock %}
</body>

</html>
