{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'core:home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PANEL CONTROL<sup></sup></div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    {% if user.is_authenticated %}
    {% if perfil %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:editar_perfil' pk=id %}">
            <i class="fa fa-user-circle"></i>
            <span>Editar perfil</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'negocios:crear_negocio' %}">
            <i class="fa fa-shopping-bag"></i>
            <span>Registra tu negocio!</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'negocios:list_negocios' %}">
            <i class="fa fa-map-marker"></i>
            <span>Tus negocios aquí!</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-bullhorn"></i>
            <span>Registra los servicios que
                ofreces!</span></a>
    </li>
    {% else %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:crear_perfil' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Crear perfil</span></a>
    </li>
    {% endif %}
    {% else %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Debes iniciar sesion</span></a>
    </li>
    {% endif %}
    <!-- Divider -->
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>