 <!-- Aquí va el controlnav -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->

    {% if user.is_authenticated %}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'core:home' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Bienvenido: {{ user.username }}<sup> </sup>
      </div>
    </a>
    {% if user.perfil.ingresos %}
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <i class="fa fa-shopping-bag"></i>
        <span>Inicio</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profiles:Perfillist' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Mi panel de control</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'negocios:list_negocios' %}">
        <i class="fa fa-map-marker"></i>
        <span>Tus negocios aquí!</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cal:tienda-list' %}">
        <i class="fa fa-bullhorn"></i>
        <span>Tus servicios aquí!</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-shopping-bag"></i>
        <span>Encuesta donaciones</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Salir
      </a>
    </li>
    <hr class="sidebar-divider my-0">
    {% endif %}
    {% if not user.perfil.ingresos %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:home' %}">
        <i class="fa fa-shopping-bag"></i>
        <span>Inicio</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profiles:Perfillist' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Mi panel de control</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-shopping-bag"></i>
        <span>Encuesta donaciones</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Salir
      </a>
    </li>
    <hr class="sidebar-divider my-0">
    {% endif %}
    {% else %}
    <!-- Nav Item - Dashboard -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_login' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Debes iniciar sesion</span></a>
    </li>
    {% endif %}