{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}



{% block search %}

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  action=" {% url 'negocios:search' %}" method="GET">
  <div class="input-group">
    <input class="form-control bg-light border-1 small" name="q" value="{{ query|escape }}" type="text"
      placeholder="Search" aria-label="Search">
    <select class="border-1 small form-control" id="id_category" name="id_category">
      <option value="1">Productos</option>
      <option value="2">Servicios</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-primary mr-3" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

{% endblock %}


{% block content %}




<div class="">
  <div class="">
    <div class="col-12">
      <div id='map' style='width: 100%; height: 580px;'></div>
    </div>
<!--
    <div class="col-lg-12 mb-4">

       Approach
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Panel de opciones</h6>
        </div>
        <div class="card-body">
          <div class="row">
            {% if user.is_authenticated %}
            <div class="col-xl-6 col-md-6 mb-4">
              <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Salir
              </a>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
              <a href="{% url 'profiles:Perfillist' %}" class="btn btn-facebook btn-block"><i
                  class="fas fa-fw fa-tachometer-alt"></i> Mi panel de control</a>
            </div>
            {% if perfil %}
            <div class="col-xl-6 col-md-6 mb-4">
              <a href="{% url 'profiles:crear_perfil' %}" class="btn btn-facebook btn-block"><i
                  class="fab fa-facebook-f fa-fw"></i> Crear perfil</a>
            </div>
            {% endif %}
            {% else %}
            <div class="col-xl-6 col-md-6 mb-4">
              <a href="{% url 'account_signup' %}" class="btn btn-google btn-block"><i class="fa fa-address-card"></i>
                Registrese!</a>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
              <a href="{% url 'account_login' %}" class="btn btn-facebook btn-block"><i
                  class="fa fa-window-restore"></i>Iniciar sesión</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
 -->


  </div>
</div>
{% endblock %}


{% block mapa %}
<script>

  var long = {{ user.perfil.lon| safe}}
  var latt = {{ user.perfil.lat| safe}}
  long = long.toString()
  latt = latt.toString()
  long = parseFloat(long)


  var mi_lon = long
  var mi_lat = latt



  mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVpOTRyZiIsImEiOiJja2Eyc3ZjZnkwMnJuM2xwb3dwMHV3aTJqIn0.ZXtAWhh4Ff7J0Qk0YEe5nw';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [mi_lon, mi_lat],
    zoom: 14,
  });




  try {
      var geojson = {{ data| safe }}; // se le pasan el json con las coordenadas
      console.log('andrei', geojson)
      geojson.features.forEach(function (marker) {

      // crea os marcadores recorriendo el geojson
      var el = document.createElement('div');
      el.className = 'marker';

      //  Se construye los marcadores usando un foreach
      new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // Se añaden las ventanas
          .setHTML('<h3><center>' + marker.properties.title + '</center></h3><p>' + marker.properties.description + '</p>'))
        .addTo(map);
      });
    }
    catch (error) {
      console.error(error);
    }  


    try {
  var geojson1 = {{ servicios| safe }}

  geojson1.features.forEach(function (marker) {

    // crea os marcadores recorriendo el geojson
    var el = document.createElement('div');
    el.className = 'marker';

    //  Se construye los marcadores usando un foreach
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // Se añaden las ventanas
        .setHTML(
          '<div class="card border-left-primary shadow h-100 py-2">' +
          '<div class="card-body">' +
          ' <div class="row no-gutters align-items-center">' +
          '<div class="col mr-2">' +
          '  <div class="h5 text-center font-weight-bold text-primary text-uppercase mb-2">' + marker.properties.title + '</div>' +
          '<div class="text-center">' +
          '  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"' +
          '   src="{% static "core/img/sigelo.png" %}" alt="">' +
          ' </div>' +
          marker.properties.description +
          '</div>' +
          '</div>' +
          ' </div>'))
      .addTo(map);
  }); 
}
    catch (error) {
      console.error(error);
    }

</script>

{% endblock %}